section.answers.answers--noPadding.sectionForProgresCircleColor.whiteSection
    .container
        .answers__content
            .answers__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                h2.answers__contentTopTitle Ответы на часто задаваемые вопросы
            .answers__contentBottom
                .answers__contentBottomLeft
                    .answers__contentBottomLeftAccordions
                        .answers__contentBottomLeftAccordion.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                            button.answers__contentBottomLeftAccordionTop(aria-expanded="false")
                                h3.answers__contentBottomLeftAccordionTopTitle Вопрос 1
                                .answers__contentBottomLeftAccordionTopClose
                                    .answers__contentBottomLeftAccordionTopCloseCircleSalad
                                        img.answers__contentBottomLeftAccordionTopCloseCircleSaladCross(
                                            src="assets/images/attraction/cross.svg" alt="Декоративный круг"
                                        )

                            .answers__contentBottomLeftAccordionBottom(aria-hidden="true")
                                p.answers__contentBottomLeftAccordionBottomText
                                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Наше дело не так однозначно, как может показаться: семантический разбор внешних противодействий предполагает независимые способы реализации своевременного выполнения

                        .answers__contentBottomLeftAccordion.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                            button.answers__contentBottomLeftAccordionTop(aria-expanded="false")
                                h3.answers__contentBottomLeftAccordionTopTitle Вопрос 2
                                .answers__contentBottomLeftAccordionTopClose
                                    .answers__contentBottomLeftAccordionTopCloseCircleSalad
                                        img.answers__contentBottomLeftAccordionTopCloseCircleSaladCross(
                                            src="assets/images/attraction/cross.svg" alt="Декоративный круг"
                                        )

                            .answers__contentBottomLeftAccordionBottom(aria-hidden="true")
                                p.answers__contentBottomLeftAccordionBottomText
                                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Наше дело не так однозначно, как может показаться: семантический разбор внешних противодействий предполагает независимые способы реализации своевременного выполнения

                        .answers__contentBottomLeftAccordion.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                            button.answers__contentBottomLeftAccordionTop(aria-expanded="false")
                                h3.answers__contentBottomLeftAccordionTopTitle Вопрос 3
                                .answers__contentBottomLeftAccordionTopClose
                                    .answers__contentBottomLeftAccordionTopCloseCircleSalad
                                        img.answers__contentBottomLeftAccordionTopCloseCircleSaladCross(
                                            src="assets/images/attraction/cross.svg" alt="Декоративный круг"
                                        )

                            .answers__contentBottomLeftAccordionBottom(aria-hidden="true")
                                p.answers__contentBottomLeftAccordionBottomText
                                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Наше дело не так однозначно, как может показаться: семантический разбор внешних противодействий предполагает независимые способы реализации своевременного выполнения

                        .answers__contentBottomLeftAccordion.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                            button.answers__contentBottomLeftAccordionTop(aria-expanded="false")
                                h3.answers__contentBottomLeftAccordionTopTitle Вопрос 4
                                .answers__contentBottomLeftAccordionTopClose
                                    .answers__contentBottomLeftAccordionTopCloseCircleSalad
                                        img.answers__contentBottomLeftAccordionTopCloseCircleSaladCross(
                                            src="assets/images/attraction/cross.svg" alt="Декоративный круг"
                                        )

                            .answers__contentBottomLeftAccordionBottom(aria-hidden="true")
                                p.answers__contentBottomLeftAccordionBottomText
                                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Наше дело не так однозначно, как может показаться: семантический разбор внешних противодействий предполагает независимые способы реализации своевременного выполнения

                .answers__contentBottomRight.animationItem.animationNoRepeat(data-scroll data-scroll-call="1").slideIn
                    .answers__contentBottomRightQuestions
                        img.answers__contentBottomRightQuestionsDecorative(
                            src="assets/images/attraction/questionsCircle.svg" alt="Декоративный круг"
                        )

                        h2.answers__contentBottomRightQuestionsTitle Остались вопросы?
                        p.answers__contentBottomRightQuestionsText Подробно ответим на все ваши вопросы
                        .answers__contentBottomRightQuestionsButton
                            .fillingButton.fillingButton--answersQuestions.modalTrigger(data-modal="1")
                                .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                svg.fillingButton__svg.fillingButton__svg--answersQuestions( viewBox="0 0 160 160" )
                                    circle.fillingButton__svg-circle.fillingButton__svg-circle--answersQuestions( cx="80" cy="80" r="80" fill="transparent" )

                                .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--answersQuestions

                                .fillingButton__content
                                    p.fillingButton__p.fillingButton__p--black
                                        span.fillingButton__span--smallMargin-and-partial Отпра
                                        | вить