section.tasks.sectionForProgresCircleColor.whiteSection
    .container
        .tasks__content
            .benefits__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .benefits__contentTopLeft
                    .servisec-list__item
                        .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                            .servisec-list__item-title-span-bg

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                                span.servisec-list__item-title-span Задачи, 
                                | &nbsp;которые мы берем на себя

                .benefits__contentTopRight
                    .fillingButton.fillingButton--benefitsRight.modalTrigger(data-modal="2")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                        svg.fillingButton__svg.fillingButton__svg--benefitsRight( viewBox="0 0 160 160" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--benefitsRight( cx="80" cy="80" r="80" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--benefitsRight.fillingButton__circle--black-border

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin-and-partial Консуль
                                | тация

            .tasks__contentBottom
                .tasks__contentBottomItems
                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/text.svg" alt="Декоративная картинка" 
                                width=66 height=69
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Работа с текстовым и графическим контентом
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/seo.svg" alt="Декоративная картинка" 
                                width=60 height=56
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle SEO адаптация сайта под ключ
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/speed.svg" alt="Декоративная картинка" 
                                width=59 height=39
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Оптимизация скорости загрузки сайта
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/eye.svg" alt="Декоративная картинка" 
                                width=52 height=52
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Лечение сайта от вирусов и уязвимостей
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z" )

                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/shield.svg" alt="Декоративная картинка" 
                                width=47 height=53
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Безопасность и защита сайта от взлома
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/code.svg" alt="Декоративная картинка" 
                                width=64 height=54
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Исправление системных ошибок в коде
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/lego.svg" alt="Декоративная картинка" 
                                width=58 height=50
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Подключение и доработка плагинов и модулей
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/rule.svg" alt="Декоративная картинка" 
                                width=55 height=55
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Исправление ошибок верстки
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")
                                        


                    .tasks__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .tasks__contentBottomItemLeft
                            img.tasks__contentBottomItemLeftImage(
                                src="assets/images/modification/rate.svg" alt="Декоративная картинка" 
                                width=53 height=53
                            )

                        .tasks__contentBottomItemRight
                            h3.tasks__contentBottomItemRightTitle Установка и настройка систем аналитики
                            p.tasks__contentBottomItemRightText
                                | текстовое описание решаемой задачи текстовое описание решаемой задачи текстовое описание решаемой задачи

                            .types__contentBottomItemButtonWrapper
                                .types__contentBottomItemButton.modalTrigger(data-modal="1")
                                    p.types__contentBottomItemButtonText Оставить заявку
                                    svg( width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M38.7071 8.70711C39.0976 8.31658 39.0976 7.68342 38.7071 7.29289L32.3431 0.928932C31.9526 0.538408 31.3195 0.538408 30.9289 0.928932C30.5384 1.31946 30.5384 1.95262 30.9289 2.34315L36.5858 8L30.9289 13.6569C30.5384 14.0474 30.5384 14.6805 30.9289 15.0711C31.3195 15.4616 31.9526 15.4616 32.3431 15.0711L38.7071 8.70711ZM0 9H38V7L0 7L0 9Z")