header.header--main.header--mainPage
    .container.container--header
        .header__logo-block
            a( href="index.html" )
                img.header__logo-block-image.header__logo-block-image--black(
                    src="./assets/images/header/header-logo.svg" alt="Логотип веб студии"
                    width="219" height="58"
                )
            a( href="index.html" )
                img.header__logo-block-image.header__logo-block-image--white(
                    src="./assets/images/header/header-logo--white.svg" alt="Логотип веб студии"
                    width="219" height="58"
                )

        .header__burger-block
            .header__burger
                span.header__burger-span
                span.header__burger-span
                span.header__burger-span

        .header__nav
            ul.header__nav-list
                li.header__nav-item
                    a.header__nav-item-text(href="services.html") Услуги
                li.header__nav-item
                    a.header__nav-item-text(href="projects.html") Проекты
                li.header__nav-item
                    a.header__nav-item-text(href="#") Маркетологам
                li.header__nav-item
                    a.header__nav-item-text(href="contacts.html") Контакты

            //.header__contacts.header__contacts--narrow
            //    ul.header__contacts-items.header__contacts-item--icons
            //        .header__contacts-item
            //            .header__contacts-item--icon.header__contacts-item--icon--black
            //                a( href="#" )
            //                    img.header__contacts-item-image.header__contacts-item-image--black(
            //                        src="./assets/images/header/telegram--transparent.svg" alt="Telegram веб студии"
            //                        width="31" height="25"
            //                    )
            //            //.header__contacts-item--icon.header__contacts-item--icon--white
            //            //    a( href="#" )
            //            //        img.header__contacts-item-image.header__contacts-item-image--white(
            //            //            src="./assets/images/header/telegram--transparent--white.svg" alt="Telegram веб студии"
            //            //            width="31" height="25"
            //            //        )
            //        .header__contacts-item
            //            .header__contacts-item--icon.header__contacts-item--icon--black
            //                a( href="#" )
            //                    img.header__contacts-item-image.header__contacts-item-image--black(
            //                        src="./assets/images/header/whatsapp--transparent.svg" alt="Whatsapp веб студии"
            //                        width="28" height="29"
            //                    )
            //            //.header__contacts-item--icon.header__contacts-item--icon--white
            //            //    a( href="#" )
            //            //        img.header__contacts-item-image.header__contacts-item-image--white(
            //            //            src="./assets/images/header/whatsapp--transparent--white.svg" alt="Whatsapp веб студии"
            //            //            width="28" height="29"
            //            //        )
            //
            //        .header__contacts-item.header__contacts-item--numbers
            //            a( href="tel: +79050226228" ).header__contacts-item-number +7 (905) 022 - 62 - 28
            //            .header__contacts-item-back-call Обратный звонок

        .header__contacts.header__contacts--wide
            ul.header__contacts-items.header__contacts-item--icons
                .header__contacts-item
                    a( href="#" ).header__contacts-item--icon
                            img.header__contacts-item-image.header__contacts-item-image--black(
                                src="./assets/images/header/telegram--transparent.svg" alt="Telegram веб студии"
                                width="31" height="25"
                            )
                    a( href="#" ).header__contacts-item--icon
                            img.header__contacts-item-image.header__contacts-item-image--white(
                                src="./assets/images/header/telegram--transparent--white.svg" alt="Telegram веб студии"
                                width="31" height="25"
                            )
                .header__contacts-item
                    a( href="#" ).header__contacts-item--icon
                            img.header__contacts-item-image.header__contacts-item-image--black(
                                src="./assets/images/header/whatsapp--transparent.svg" alt="Whatsapp веб студии"
                                width="28" height="29"
                            )
                    a( href="#" ).header__contacts-item--icon
                            img.header__contacts-item-image.header__contacts-item-image--white(
                                src="./assets/images/header/whatsapp--transparent--white.svg" alt="Whatsapp веб студии"
                                width="28" height="29"
                            )

                address.header__contacts-item.header__contacts-item--numbers
                    a( href="tel: +79050226228" ).header__contacts-item-number +7 (905) 022 - 62 - 28
                    a( href="tel: +79050226228" ).header__contacts-item-number-image.header__contacts-item-number-image--white
                        img(
                            src="./assets/images/header/phone.svg" alt="Телефон"
                            width="23" height="23"
                        )
                    a( href="tel: +79050226228" ).header__contacts-item-number-image.header__contacts-item-number-image--black
                        img(
                            src="./assets/images/header/phone-black.svg" alt="Телефон"
                            width="23" height="23"
                        )
                    p.header__contacts-item-back-call Обратный звонок
