section.blog-index.whiteSection.sectionForProgresCircleColor

    .blogLines-index
        .blogLine-index
        .blogLine-index

    .container.container--blog
        .section__titles.section__titles__blog
            .section__titles-left.fadeInLeft.animationItem.animationNoRepeat(data-scroll data-scroll-call="8").fadeInLeft
                .section__overtitle
                    p.section__overtitle-text.section__overtitle-text--black Последние записи
                    .section__overtitle-line.section__overtitle-line-ml20

                .section__title
                    h3.section__title-title Блог агентства

            .section__titles__decoration-right-text-block
                p.section__titles__decoration-right-text
                    | Читайте полезное интересное бла бла бла блабла бла
                    | бла бла бла бла бла не пропускайте последние обновления

            .section__titles__decoration-right.section__titles__decoration-right--blog
                a.fillingButton.fillingButton--blog-top.fadeInRight.animationItem.animationNoRepeat(data-scroll data-scroll-call="12" href="blog.html")
                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                    svg.fillingButton__svg( viewBox="0 0 204 204" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--blog-top( cx="102" cy="102" r="102" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--blog-top

                    .fillingButton__content
                        p.fillingButton__p.fillingButton__p--black
                            span Перейти
                            | в блог

        .blog__items-block-index
            .blog__items-list-index
                article.blog__items-item-index.animationItem.animationNoRepeat(data-scroll data-scroll-call="9").rotateIn
                    .blog__items-item-imageWrapper-index
                        picture
                            source(srcset="assets/images/index/blog/item-1.webp" type="image/webp")
                            source(srcset="assets/images/index/blog/item-1.jpg" type="image/jpg")
                            img.blog__items-item-image-index(
                                src="assets/images/index/blog/item-1.jpg" alt="Фото ноутбука"
                                width="334" height="386"
                            )
                    .blog__items-item-block-index
                        .blog__items-item-visible-block-index
                            .blog__items-item-visible-block-top-index
                                h4.blog__items-item-visible-block-top-title-index SMM
                                .blog__items-item-visible-block-top-circle-index
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date-index 4 января 2023
                            .blog__items-item-visible-block-body-index
                                p.blog__items-item-visible-block-body-text-index
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block-index( href="#" )
                                    h5.blog__items-item-hidden-block-body-read-text-index Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

            
                article.blog__items-item-index.animationItem.animationNoRepeat(data-scroll data-scroll-call="10").rotateIn
                    .blog__items-item-imageWrapper-index
                        picture
                            source(srcset="assets/images/index/blog/item-2.webp" type="image/webp")
                            source(srcset="assets/images/index/blog/item-2.jpg" type="image/jpg")
                            img.blog__items-item-image-index(
                                src="assets/images/index/blog/item-2.jpg" alt="Фото ноутбука"
                                width="334" height="386"
                            )
                    .blog__items-item-block-index
                        .blog__items-item-visible-block-index
                            .blog__items-item-visible-block-top-index
                                h4.blog__items-item-visible-block-top-title-index SMM
                                .blog__items-item-visible-block-top-circle-index
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date-index 4 января 2023
                            .blog__items-item-visible-block-body-index
                                p.blog__items-item-visible-block-body-text-index
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block-index( href="#" )
                                    h5.blog__items-item-hidden-block-body-read-text-index Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

            
                article.blog__items-item-index.animationItem.animationNoRepeat(data-scroll data-scroll-call="11").rotateIn
                    .blog__items-item-imageWrapper-index
                        picture
                            source(srcset="assets/images/index/blog/item-3.webp" type="image/webp")
                            source(srcset="assets/images/index/blog/item-3.jpg" type="image/jpg")
                            img.blog__items-item-image-index(
                                src="assets/images/index/blog/item-3.jpg" alt="Фото ноутбука"
                                width="334" height="386"
                            )
                    .blog__items-item-block-index
                        .blog__items-item-visible-block-index
                            .blog__items-item-visible-block-top-index
                                h4.blog__items-item-visible-block-top-title-index SMM
                                .blog__items-item-visible-block-top-circle-index
                                time( datetime="2023-01-23" ).blog__items-item-visible-block-top-date-index 4 января 2023
                            .blog__items-item-visible-block-body-index
                                p.blog__items-item-visible-block-body-text-index
                                    | Важность ведения страниц вашего бизнеса в социальных сетях
                                a.blog__items-item-hidden-block-body-read-block-index( href="#" )
                                    h5.blog__items-item-hidden-block-body-read-text-index Читать статью
                                    img.blog__items-item-hidden-block-body-read(
                                        src="assets/images/index/blog/arrow-salad.svg" alt="Черная стрелка"
                                        width="14" height="14"
                                    )

        .blog__telegram-index
            a.fillingButton.fillingButton--blog-telegram( href="" )
                .fillingButton__imageSrcInDataTag(data-src="assets/images/header/telegram--transparent.svg")
                svg.fillingButton__svg( viewBox="0 0 204 204" )
                    circle.fillingButton__svg-circle.fillingButton__svg-circle--blog-telegram( cx="102" cy="102" r="102" fill="transparent" )

                .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--blog-telegram

                .fillingButton__content
                    p.fillingButton__p.fillingButton__p--black
                        span Читать
                        | в телеграм