section.intro-index.whiteSection.sectionForProgresCircleColor
    img.intro__decoration-left-circle-image(
        src="assets/images/utils/semicircle-to-right--gray.svg" alt=""
        width="184" height="384"
    )

    .intro__splider--container.splide( aria-label="Splide Basic HTML Example" )
        .intro__arrow-to-bottom-arrow-block
            .intro__arrow-to-bottom-arrow-block-content
                img.intro__arrow-to-bottom-arrow-image.intro__arrow-to-bottom-arrow-image--black(
                    src="assets/images/index/intro/arrow-to-bottom.svg" alt="Стрелка к следующему блоку на сайта"
                    width="16" height="30"
                )
                img.intro__arrow-to-bottom-arrow-image.intro__arrow-to-bottom-arrow-image--white(
                    src="assets/images/index/intro/arrow-to-bottom--white.svg" alt="Стрелка к следующему блоку на сайта"
                    width="16" height="30"
                )

        .splide__track
            .splide__list
                .container.container--intro.splide__slide
                    .intro__container--inner
                        .intro__content.intro__content-index
                            .intro__content-digital-block.intro__content-digital-block--for-pagination-calibration
                                p.intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    h1.intro__content-top-title.intro__content-top-title--for-pagination-calibration РАЗРАБОТКА
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="assets/images/index/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    p.intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    h2.intro__content-top-title САЙТОВ

                                .intro__content-button-block 

                                    .modalTrigger.fillingButton.fillingButton--intro-index(data-modal="1")
                                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                                            circle.fillingButton__svg-circle.fillingButton__svg-circle--intro-index( cx="102" cy="102" r="102" fill="transparent" )

                                        .fillingButton__circle.fillingButton__circle--intro-index.fillingButton__circle--black-border

                                        .fillingButton__content
                                            p.fillingButton__p.fillingButton__p--black
                                                span.fillingButton__span--smallMargin Подробнее

                        .intro__splide-string.intro__splide-string1.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )

                .container.container--intro.splide__slide
                    .intro__container--inner
                        .intro__content.intro__content-index
                            .intro__content-digital-block
                                p.intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    h1.intro__content-top-title ПОСТРОЙКА
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="assets/images/index/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    p.intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    h2.intro__content-top-title САЙТОВ

                                .intro__content-button-block

                                    .modalTrigger.fillingButton.fillingButton--intro-index(data-modal="1")
                                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                                            circle.fillingButton__svg-circle.fillingButton__svg-circle--intro-index( cx="102" cy="102" r="102" fill="transparent" )

                                        .fillingButton__circle.fillingButton__circle--intro-index.fillingButton__circle--black-border

                                        .fillingButton__content
                                            p.fillingButton__p.fillingButton__p--black
                                                span.fillingButton__span--smallMargin Подробнее

                        .intro__splide-string.intro__splide-string3.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )

                .container.container--intro.splide__slide
                    .intro__container--inner
                        .intro__content.intro__content-index
                            .intro__content-digital-block
                                p.intro__content-digital-text digital
                                .intro__content-digital-line

                            .intro__content-padding-left
                                .intro__content-top
                                    h1.intro__content-top-title ПОСТРОЕНИЕ
                                    .intro__content-top-stars-image-block
                                        .intro__content-top-stars-image
                                            img.intro__content-stars-image(
                                                src="assets/images/index/intro/intro-stars.svg" alt="Декоративные звезды"
                                                width="61" height="62"
                                            )

                                .intro__content-bottom
                                    p.intro__content-text
                                        | Комплексная разработка ярких
                                        | продающих динамичных сайтов
                                        | под ключ для вас и вашего бизнеса
                                    h3.intro__content-top-title САЙТОВ

                                .intro__content-button-block

                                    .modalTrigger.fillingButton.fillingButton--intro-index(data-modal="1")
                                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                                            circle.fillingButton__svg-circle.fillingButton__svg-circle--intro-index( cx="102" cy="102" r="102" fill="transparent" )

                                        .fillingButton__circle.fillingButton__circle--intro-index.fillingButton__circle--black-border

                                        .fillingButton__content
                                            p.fillingButton__p.fillingButton__p--black
                                                span.fillingButton__span--smallMargin Подробнее

                        .intro__splide-string.intro__splide-string2.splide( aria-label="Splide Basic HTML Example" )
                            .intro__slider-swiper.splide__track
                                .intro__slider-swiper-wrapper.splide__list

                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-1.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-1.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-1.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-2.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-2.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-2.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )
                                    article.intro__slider-swiper-slide.splide__slide
                                        a(href="#")
                                            picture
                                                source(srcset="assets/images/index/intro/slider-3.webp" type="image/webp")
                                                source(srcset="assets/images/index/intro/slider-3.jpg" type="image/jpg")
                                                img.slideProjectImage(
                                                    src="assets/images/index/intro/slider-3.jpg"
                                                    alt="Ссылка с картинкой на сайт который сделала веб студией"
                                                    width="381" height="294"
                                                )