section.services-index.whiteSection.sectionForProgresCircleColor
    img.decorative-circle-left-index(
        src="assets/images/index/services/left-circle.svg" alt="Декорпативный круг"
        width=414 height=414
    )
    img.decorative-lines-left-index(
        src="assets/images/index/services/right-lines.svg" alt="Декоративные полоски"
        width=324 height=163
    )   

    .container
        .section__titles
            .section__titles-left
                .services-right-side-overtitle-index
                    p.section__overtitle-text-index Услуги
                    .services-right-side-overtitle-line-index

                .section__title
                    h3.section__title-title
                        | Широкий перечень
                        br
                        | услуг

        .services-list-index
            article.servisec-list__item.servisec-list__item-index.servisec-list__item--padding.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper-index
                    .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg-animated

                .servisec-list__item-imgWrapper-index
                    picture
                        source(srcset="assets/images/index/services/item-1.webp" type="image/webp")
                        source(srcset="assets/images/index/services/item-1.jpg" type="image/png")
                        img.servisec-list__item-img-index(
                            src="assets/images/index/services/item-1.jpg" alt=""
                        )
                .servisec-list__item-content-index
                    h1.servisec-list__item-title.servisec-list__item-title-index.servisec-list__item-title--mb60
                        span.servisec-list__item-title-span.servisec-list__item-title-span--white Разработка 
                        | сайтов 
                        br
                        | и сервисов
                    .servisec-list__item-list-index
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Разработка сайтов любой сложности
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Разработка сервисов
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Разработка чат-ботов и автомазиация
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P HAHA
                    
                    .fillingButton.fillingButton--services-item.modalTrigger(data-modal="1")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 142 142" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--services-item( cx="71" cy="71" r="71" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--services-item
                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Подр
                                | обнее

            article.servisec-list__item.servisec-list__item-index.servisec-list__item--padding.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper-index
                    .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg-animated

                .servisec-list__item-imgWrapper-index
                    picture
                        source(srcset="assets/images/index/services/item-2.webp" type="image/webp")
                        source(srcset="assets/images/index/services/item-2.jpg" type="image/png")
                        img.servisec-list__item-img-index(
                            src="assets/images/index/services/item-2.jpg" alt=""
                        )

                .servisec-list__item-content
                    h1.servisec-list__item-title.servisec-list__item-title--mb60
                        span.servisec-list__item-title-span.servisec-list__item-title-span--white Привлечение 
                        | интернет
                        br
                        | трафика

                    .servisec-list__item-list-index
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Контекстная реклама
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P SEO оптимизация
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Таргетированная реклама
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P SMM

                    .fillingButton.fillingButton--services-item.modalTrigger(data-modal="1")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 142 142" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--services-item( cx="71" cy="71" r="71" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--services-item

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Подр
                                | обнее

            article.servisec-list__item.servisec-list__item-index.servisec-list__item--padding.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper-index
                    .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg-animated

                .servisec-list__item-imgWrapper-index
                    picture
                        source(srcset="assets/images/index/services/item-3.webp" type="image/webp")
                        source(srcset="assets/images/index/services/item-3.jpg" type="image/png")
                        img.servisec-list__item-img-index(
                            src="assets/images/index/services/item-3.jpg" alt=""
                        )

                .servisec-list__item-content
                    h1.servisec-list__item-title.servisec-list__item-title--mb60
                        span.servisec-list__item-title-span.servisec-list__item-title-span-index.servisec-list__item-title-span--white Комплексная 
                        | аналитика 
                        br
                        | проектов

                    .servisec-list__item-list-index
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Digital маркетинг на аутсорсе
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Внедрение сквозной аналитики
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Настройка и внедрение CRM систем
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Аудит юзабилити / безопасности проектов

                    .fillingButton.fillingButton--services-item.modalTrigger(data-modal="1")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 142 142" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--services-item( cx="71" cy="71" r="71" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--services-item

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Подр
                                | обнее
                    

            article.servisec-list__item.servisec-list__item-index.servisec-list__item--padding.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper-index
                    .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg-animated

                .servisec-list__item-imgWrapper-index
                    picture
                        source(srcset="assets/images/index/services/item-4.webp" type="image/webp")
                        source(srcset="assets/images/index/services/item-4.jpg" type="image/jpg")
                        img.servisec-list__item-img-index(
                            src="assets/images/index/services/item-4.jpg" alt=""
                        )
                .servisec-list__item-content
                    h1.servisec-list__item-title.servisec-list__item-title--mb60
                        span.servisec-list__item-title-span.servisec-list__item-title-span--white Техническая 
                        | поддержка 
                        br
                        | проектов

                    .servisec-list__item-list-index
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Работа с контентом
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Мониторинг работоспособности проектов
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Чистка сайтов от заражений и вирусов
                        a(href="#").servisec-list__item-list-item-index
                            .servisec-list__item-list-item-stroke-index
                            P Обслуживание и настройка серверов

                    .fillingButton.fillingButton--services-item.modalTrigger(data-modal="1")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 142 142" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--services-item( cx="71" cy="71" r="71" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--services-item

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Подр
                                | обнее
