section.benefits-serm.sectionForProgresCircleColor.whiteSection
    img.projects__obliqueLines.projects__obliqueLines--benefits(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container
        .benefits__content
            .benefits__contentItems-serm

                .benefits__contentItem--title.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                    h2.benefits__contentItemTitle-serm Преимущества нашей команды SERM Специалистов

                    
                .benefits__contentItem-serm.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .benefits__contentItemTop-serm
                        img.benefits__contentItemTopIcon-serm(
                            src="assets/images/serm/expert.svg" alt="Декоративная картинка" 
                            width=52 height=52
                        )
                        h2.benefits__contentItemTopTitle-serm Высокая 
                            br
                            | экспертность

                    .benefits__contentItemBottom
                        p.benefits__contentItemBottomText-serm
                            | Обладаем высокой экспертизой управления репутациеи персоны или компании в востребованных интернет-тематиках. Имеем опыт более 50 успешных проектов в ORM и SERM

                .benefits__contentItem-serm.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .benefits__contentItemTop-serm
                        img.benefits__contentItemTopIcon-serm(
                            src="assets/images/serm/interaction.svg" alt="Декоративная картинка" 
                            width=53 height=47
                        )
                        h2.benefits__contentItemTopTitle-serm 
                            | Взаимодействие с 
                            br
                            | площадками

                    .benefits__contentItemBottom
                        p.benefits__contentItemBottomText-serm
                            | Мы используем эффективные инструменты рынка для закрытия репутационных целей и задач клиента (сервисы мониторинга, работы с блогерами, анализа аудитории, контроля КРІ и т. д.)

                .benefits__contentItem-serm.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .benefits__contentItemTop-serm
                        img.benefits__contentItemTopIcon-serm(
                            src="assets/images/serm/confidential.svg" alt="Декоративная картинка" 
                            width=35 height=41
                        )
                        h2.benefits__contentItemTopTitle-serm Гарантия 
                            br
                            | конфиденциальности 

                    .benefits__contentItemBottom
                        p.benefits__contentItemBottomText-serm
                            | Благодаря строгой иерархии и глубокой погруженности в проект не допускаем ни одной утечки информации и личных данных. С каждым клиентом подписывает NDA по услугам SERM

                .benefits__contentItem-serm.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .benefits__contentItemTop-serm
                        img.benefits__contentItemTopIcon-serm(
                            src="assets/images/serm/comand.svg" alt="Декоративная картинка" 
                            width=68  height=37
                        )
                        h2.benefits__contentItemTopTitle-serm Командное
                            br
                            | сопровождение

                    .benefits__contentItemBottom
                        p.benefits__contentItemBottomText-serm
                            | Под каждый проект выделяется команда менеджеров, всегда находящихся на связи. Прорабатывая индивидуальный КРІ, они обеспечивают 100% гарантию положительного результата

                .benefits__contentItem-serm.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .benefits__contentItemTop-serm
                        img.benefits__contentItemTopIcon--marginLeft-serm(
                            src="assets/images/serm/reports.svg" alt="Декоративная картинка" 
                            width=104  height=104
                        )
                        h2.benefits__contentItemTopTitle-serm Предоставление
                            br
                            | отчетности

                    .benefits__contentItemBottom
                        p.benefits__contentItemBottomText-serm
                            | Заказав услуги по управлению репутацией в интернете, можно следить за проектом online. В цену входят регулярные отчеты о результате работ с аналитикой и рекомендациями