footer.footer(data-scroll-section).blackSection.sectionForProgresCircleColor
    .container--footer
        .footer__left-side
            .footer__left-sideItems
                ul.footer__blocks

                    li.footer__blocks-item.footer__blocks-item--one
                        ul.footer__blocks-item-list.footer__blocks-item-list--one
                            li.footer__blocks-item-logo
                                a(href="#")
                                    img.footer__blocks-item-logo-image(
                                        src="./assets/images/footer/footer-logo.svg" alt="Логотип веб студии"
                                        width="196" height="52"
                                    )

                            li
                                p.footer__blocks-item-text Ваша команда комплексного интернет маркетинга

                            li.footer__blocks-item-socials
                                a(href="#")
                                    img.footer__blocks-item-socials-item(
                                        src="./assets/images/footer/footer-telegram-white-border.svg" alt="Telegram веб студии"
                                        width="31" height="25"
                                    )
                                a(href="#")
                                    img.footer__blocks-item-socials-item(
                                        src="./assets/images/footer/footer-whatsapp-white-border.svg" alt="Whatsapp веб студии"
                                        width="28" height="29"
                                    )
                                a(href="#")
                                    img.footer__blocks-item-socials-item(
                                        src="./assets/images/footer/footer-vk-white-border.svg" alt="VK веб студии"
                                        width="36" height="36"
                                    )

                    li.footer__blocks-item
                        h6.footer__blocks-item-title Услуги

                        ul.footer__blocks-item-list.footer__blocks-item-list--two
                            li.footer__blocks-list-item.footer__blocks-list-item--dash
                                a( href="#" ) Разработка сайтов
                            li.footer__blocks-list-item.footer__blocks-list-item--dash
                                a( href="#" ) Привлечение трафика
                            li.footer__blocks-list-item.footer__blocks-list-item--dash
                                a( href="#" ) Комплексная аналитика
                            li.footer__blocks-list-item.footer__blocks-list-item--dash
                                a( href="#" ) Техническая поддержка

                    li.footer__blocks-item
                        h6.footer__blocks-item-title Контакты

                        ul.footer__blocks-item-list.footer__blocks-item-list--three
                            li.footer__blocks-list-item.footer__blocks-list-item--contacts
                                img.footer__blocks-list-item--contacts-image(
                                    src="./assets/images/footer/footer-marker.svg" alt="Картинка маркер на карте"
                                )
                                address.footer__blocks-list-item--contacts-text-block
                                    p.footer__blocks-list-item--contacts-text г. Казань ул. Четаева д. 5А

                            li.footer__blocks-list-item.footer__blocks-list-item--contacts
                                img.footer__blocks-list-item--contacts-image(
                                    src="./assets/images/footer/footer-phone.svg" alt="Картинка телефонной трубки"
                                )
                                address
                                    a( href="tel:+79050226228" ).footer__blocks-list-item--contacts-text +7 (905) 022-62-28

                            li.footer__blocks-list-item.footer__blocks-list-item--contacts
                                img.footer__blocks-list-item--contacts-image(
                                    src="./assets/images/footer/footer-mail.svg" alt="Картинка почты"
                                )
                                address
                                    a.footer__blocks-list-item--contacts-text( href="mailto:info@itshtab.ru" ) info@itshtab.ru

            .footer__left-side-rights
                p.footer__left-side-rights-text 2013 - 2023 | Все права защищены

        .footer__right-side-form
            .footer__right-side-form-content
                h6.footer__right-side-form-title У вас есть задача для нас?

                form.footer__right-side-form-form
                    input( type="name" placeholder="Имя" ).footer__right-side-form-form-input
                    input( type="tel" placeholder="Телефон" ).footer__right-side-form-form-input
                    .footer__right-side-form-form-checkbox-block
                        input( id="footer-checkbox" type="checkbox" ).footer__right-side-form-form-checkbox

                        .footer__right-side-form-form-checkbox-custom-block
                            .footer__right-side-form-form-checkbox-custom
                                .footer__right-side-form-form-checkbox-custom--active

                        label.footer__right-side-form-form-checkbox-block-label( for="footer-checkbox" )
                            | Даю согласие на обработку
                            | персональных данных
                    button( type="submit" ).footer__right-side-form-form-button Отправить

