.burgerMenu
    include ../header/header--black

    .burgerMenu__animatedWords
        p.burgerMenu__animatedWords_wordToRight IT’SHTAB
        p.burgerMenu__animatedWords_wordToLeft DIGITAL CREW

    section.burgerMenu__content
        .container
            h1.visibleHidden Навигация по сайту

            .burgerMenu__contentSides
                nav.burgerMenu__contentNavigation
                    ul.burgerMenu__contentNavigation-leftSide
                        li.burgerMenu__contentNavigation-leftSideItem
                            h2.burgerMenu__contentNavigation-leftSideItemText Главная
                            img.burgerMenu__contentNavigation-leftSideItemImage(
                                src="assets/images/utils/burgerMenu-arrowWhite.svg" alt="Стрелка"
                                width=68 height=20
                            )
                        li.burgerMenu__contentNavigation-leftSideItem
                            h2.burgerMenu__contentNavigation-leftSideItemText Услуги
                            img.burgerMenu__contentNavigation-leftSideItemImage(
                                src="assets/images/utils/burgerMenu-arrowWhite.svg" alt="Стрелка"
                                width=68 height=20
                            )
                        li.burgerMenu__contentNavigation-leftSideItem
                            h2.burgerMenu__contentNavigation-leftSideItemText Портфолио
                            img.burgerMenu__contentNavigation-leftSideItemImage(
                                src="assets/images/utils/burgerMenu-arrowWhite.svg" alt="Стрелка"
                                width=68 height=20
                            )
                        li.burgerMenu__contentNavigation-leftSideItem
                            h2.burgerMenu__contentNavigation-leftSideItemText О компании
                            img.burgerMenu__contentNavigation-leftSideItemImage(
                                src="assets/images/utils/burgerMenu-arrowWhite.svg" alt="Стрелка"
                                width=68 height=20
                            )
                        li.burgerMenu__contentNavigation-leftSideItem
                            a(href="#").burgerMenu__contentNavigation-leftSideItemText Контакты

                    .burgerMenu__contentNavigation-line

                    .burgerMenu__contentNavigation-rightSide
                        ul.burgerMenu__contentNavigation-rightSideList
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="contacts.html").burgerMenu__contentNavigation-rightSideListItemText Контакты
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="blog.html").burgerMenu__contentNavigation-rightSideListItemText блог
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="blog-once-page.html").burgerMenu__contentNavigation-rightSideListItemText блог одна страница
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="brief.html").burgerMenu__contentNavigation-rightSideListItemText бриф

                        ul.burgerMenu__contentNavigation-rightSideList
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="seo.html").burgerMenu__contentNavigation-rightSideListItemText SEO продвижение вашего проекта
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="attraction.html").burgerMenu__contentNavigation-rightSideListItemText Настройка и ведение рекламы в Яндекс директ
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="sitesDevelopment.html").burgerMenu__contentNavigation-rightSideListItemText Создание сайтов, которые работают
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serm.html").burgerMenu__contentNavigation-rightSideListItemText Репутация бренда в интернете SERM для бизнеса
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serviceDetail.html").burgerMenu__contentNavigation-rightSideListItemText Разработка веб сервисов любой сложности под ключ
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serviceDetailSecond.html").burgerMenu__contentNavigation-rightSideListItemText Разработка landing page с конверсией от 5,7%
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serviceDetailSecond-2.html").burgerMenu__contentNavigation-rightSideListItemText Разработка интернет магазина любой сложности 
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serviceDetailSecond-3.html").burgerMenu__contentNavigation-rightSideListItemText Разработка корпоративных сайтов под ключ
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="modification.html").burgerMenu__contentNavigation-rightSideListItemText Доработка веб-сайта и работа с контентом
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="support.html").burgerMenu__contentNavigation-rightSideListItemText Техническая поддержка сайтов и проектов

                        ul.burgerMenu__contentNavigation-rightSideList
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serviceDetail.html").burgerMenu__contentNavigation-rightSideListItemText услуга детальнвя
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="attraction.html").burgerMenu__contentNavigation-rightSideListItemText Настройка и ведение рекламы в Яндекс директ
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="sitesDevelopment.html").burgerMenu__contentNavigation-rightSideListItemText Создание сайтов, которые работают
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="serm.html").burgerMenu__contentNavigation-rightSideListItemText Serm

                        ul.burgerMenu__contentNavigation-rightSideList
                            li.burgerMenu__contentNavigation-rightSideListItem
                                a(href="studio.html").burgerMenu__contentNavigation-rightSideListItemText О студии

                    
                address.burgerMenu__contentAddresses
                    a( href="tel:79050226228" ).burgerMenu__contentAddresses-phone +7 (905) 022-62-28
                    a( href="mailto:info@itshtab.ru" ).burgerMenu__contentAddresses-mail info@itshtab.ru
                    a( href="#" ).burgerMenu__contentAddresses-place
                        | Республика Татарстан, г.
                        br
                        | Казань, ул. Четаева д.5А

                    .burgerMenu__contentAddresses-socials
                        a(href="#").burgerMenu__contentAddresses-socialsItem
                            img.burgerMenu__contentAddresses-socialsItemIcon(
                                src="assets/images/utils/tg.svg", alt="Телеграм" 
                                width=31 height=25 
                            )
                        a(href="#").burgerMenu__contentAddresses-socialsItem
                            img.burgerMenu__contentAddresses-socialsItemIcon(
                                src="assets/images/utils/wh.svg", alt="Ватсап" 
                                width=29 height=29 
                            )
                        a(href="#").burgerMenu__contentAddresses-socialsItem
                            img.burgerMenu__contentAddresses-socialsItemIcon(
                                src="assets/images/utils/vk.svg", alt="Вконтакте" 
                                width=29 height=29 
                            )

                    .fillingButton.fillingButton--burgerMenuAddresses.modalTrigger(data-modal="1")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--burgerMenuAddresses( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--burgerMenuAddresses

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Подро
                                | бнее

            