section.benefits-seo.sectionForProgresCircleColor.whiteSection
    .container
        .benefits__content
            .benefits__contentTop-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .benefits__contentTopLeft-seo
                    .servisec-list__item
                        .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                            .servisec-list__item-title-span-bg

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                                span.servisec-list__item-title-span Почему 
                                |  &nbsp;стоит сделать выбор в пользу нашего агентства  

                .benefits__contentTopRight
                    .fillingButton.fillingButton--benefitsRight.modalTrigger(data-modal="2")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                        svg.fillingButton__svg.fillingButton__svg--benefitsRight( viewBox="0 0 160 160" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--benefitsRight( cx="80" cy="80" r="80" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--benefitsRight.fillingButton__circle--black-border

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin-and-partial Консуль
                                | тация


            .benefits__contentMiddle-seo
                .benefits__contentItems-seo

                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo(
                                src="assets/images/serm/comand.svg" alt="Декоративная картинка" 
                                width=68  height=68
                            )
                            h2.benefits__contentItemTopTitle-seo Команда 
                                br
                                | специалистов

                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | SEO копиратинг, закупка ссылочной массы, мониторинг позиций работа с поведенческими факторами входят в стоимость


                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo(
                                src="assets/images/seo/forecast.svg" alt="Декоративная картинка" 
                                width=67 height=68
                            )
                            h2.benefits__contentItemTopTitle-seo Прогноз
                                br
                                | эффективности 

                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | Перед началом сотрудничества мыделаем обязательный базовый аудит вашего сайта и  анализ конкурентов, что дает нам возможность сообщить прогноз дальнейшего продвижения

                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo(
                                src="assets/images/serm/interaction.svg" alt="Декоративная картинка" 
                                width=72 height=68
                            )
                            h2.benefits__contentItemTopTitle-seo 
                                | Контроль
                                br
                                | эффективности
                        
                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | Мы внимательно следим за каждым продвигаемым нами проектом, отслеживая реакцию поисковых систем на вносимые на сайте изменения

                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo(
                                src="assets/images/seo/abilities.svg" alt="Декоративная картинка" 
                                width=85 height=68
                            )
                            h2.benefits__contentItemTopTitle-seo Расширенные
                                br
                                | возможности

                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | Дополнительно мы можем провести технический, юзабилити, коммерческий, аудит, анализ безопасности сайта, настройка аналитических сервисов и коллтрекинга
                    
                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo(
                                src="assets/images/seo/lamp.svg" alt="Декоративная картинка" 
                                width=68  height=68
                            )
                            h2.benefits__contentItemTopTitle-seo Опытные 
                                br
                                | сотрудники

                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | Весь штат специалистов работающий над продвижением вашего проекта имеет за плечами большой опыт работы в различных тематиках 

                    .benefits__contentItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        .benefits__contentItemTop-seo
                            img.benefits__contentItemTopIcon-seo--marginLeft(
                                src="assets/images/serm/reports.svg" alt="Декоративная картинка" 
                                width=104  height=104
                            )
                            h2.benefits__contentItemTopTitle-seo Предоставляем
                                br
                                | отчеты

                        .benefits__contentItemMiddle-seo        

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText-seo
                                | По мере продвижения мы предоставляем отчеты о проделанной работе, текущих позициях, изменение относительно прошлых позиций


            .benefits__contentBottom-seo
                .fillingButton.fillingButton--benefitsBottom.modalTrigger(data-modal="1")
                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                    svg.fillingButton__svg.fillingButton__svg--benefitsBottom( viewBox="0 0 160 160" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--benefitsBottom( cx="80" cy="80" r="80" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--benefitsBottom

                    .fillingButton__content
                        p.fillingButton__p.fillingButton__p--black
                            span.fillingButton__span--smallMargin-and-partial Получ
                            | ить предложение