section.costs-seo.sectionForProgresCircleColor
    img.decorativeCicrcleWithLines-seo(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Круг с линиями" 
         width=445 height=445
    )
    img.projects__obliqueLines(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container
        .costs__content
            .costs__contentTop-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                .servisec-list__item
                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                        .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg--transparent

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle
                            span.servisec-list__item-title-span 
                            | Услуги SEO продвижения

            .costs__contentBottom-seo 
                .costs__contentBottomItems-seo 

                    .costs__contentBottomItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        .costs__contentBottomItemTop-seo 
                            .costs__contentBottomItemTopLeft-seo 
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/seo/opti.svg" alt="Декоративная картинка" 
                                    width=115 height=68
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-seo Репутация в отзовиках

                        .costs__contentBottomItemMiddle-seo
                            p.costs__contentBottomItemMiddleText-seo
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 


                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Рост позиций в течении 2х недель

                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Какое то преимущество

                        .costs__contentBottomItemBottom-seo 
                            .costs__contentBottomItemBottomLeft-seo 
                                p.costs__contentBottomItemBottomLeftText-seo  От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="2")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация
                                    
                    .costs__contentBottomItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        .costs__contentBottomItemTop-seo 
                            .costs__contentBottomItemTopLeft-seo 
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/seo/aim.svg" alt="Декоративная картинка" 
                                    width=77 height=67
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-seo Репутация в отзовиках

                        .costs__contentBottomItemMiddle-seo
                            p.costs__contentBottomItemMiddleText-seo
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 


                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Рост позиций в течении 2х недель

                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Какое то преимущество

                        .costs__contentBottomItemBottom-seo 
                            .costs__contentBottomItemBottomLeft-seo 
                                p.costs__contentBottomItemBottomLeftText-seo  От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="2")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация

                    .costs__contentBottomItem-seo.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        .costs__contentBottomItemTop-seo 
                            .costs__contentBottomItemTopLeft-seo 
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/seo/yey.svg" alt="Декоративная картинка" 
                                    width=68 height=68
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-seo Аудит сайта в поисковых системах

                        .costs__contentBottomItemMiddle-seo
                            p.costs__contentBottomItemMiddleText-seo
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 


                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Рост позиций в течении 2х недель

                                li.costs__contentBottomItemMiddleListItem-seo
                                    .services__contentBottomItemListItemBulletWrapper-seo                       
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.costs__contentBottomItemMiddleListItemText-seo
                                        | Какое то преимущество

                        .costs__contentBottomItemBottom-seo 
                            .costs__contentBottomItemBottomLeft-seo 
                                p.costs__contentBottomItemBottomLeftText-seo  От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="2")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация

            .costs__contentFooter.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                .costs__contentFooterItem-seo
                    .costs__contentFooterItemLeft-seo
                        p.costs__contentFooterItemLeftText-seo
                            | Знаете только то, что Вам нужен трафик из поисковых систем, но не знаете какая услуга подходит Вам?

                    .costs__contentFooterItemRight
                        .fillingButton.fillingButton--costsFooterItem.modalTrigger(data-modal="2")
                            .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                            svg.fillingButton__svg.fillingButton__svg--costsFooterItem( viewBox="0 0 124 124" )
                                circle.fillingButton__svg-circle.fillingButton__svg-circle--costsFooterItem( cx="62" cy="62" r="62" fill="transparent" )

                            .fillingButton__circle.fillingButton__circle--costsFooterItem

                            .fillingButton__content
                                p.fillingButton__p.fillingButton__p--costsFooterItem
                                    span.fillingButton__span--smallMargin-and-partial Беспла
                                    | тная консультация