section.cycles.sectionForProgresCircleColor
    img.decorativeCicrcleWithLines.decorativeCicrcleWithLines--cycles(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Круг с линиями" 
         width=445 height=445
    )
    img.projects__obliqueLines(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container
        .cycles__content
            .cycles__contentTop
                .servisec-list__item.servisec-list__item-sds
                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                        .servisec-list__item-title-span-bg

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle
                            span.servisec-list__item-title-span Понятные&nbsp;
                            | &nbsp;этапы разработки нового сайта

            .cycles__contentBottom
                .cycles__contentBottomItems

                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 01

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Анализ конкурентов

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Проводим анализ конкурентов, собираем информацию

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Формирование портрета потенциальных клиентов

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Упаковка целей и задач проекта

                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 02

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Прототипирование

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Формирование структуры будущего сайта

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Разработка технического прототипа сайта 

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Разработка технического задание на дизайн

                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 03

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Разработка дизайна

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Создание современных удобных страниц

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Проработка сценариев использования сайта

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Отрисовка адаптивных экранов (опционально)

                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 04

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Сборка сайта

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Кроссбраузерная адаптивная верстка макетов

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Интеграция с CMS системой согласно ТЗ

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Разработка необходимого функционала

                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 05

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Работа с контентом

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Комплексное тестирование верстки/дизайна/CMS

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Наполнение сайта информационным контентом

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Настройка и подключение аналитики
                                    
                    .cycles__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop

                        .cycles__contentBottomItemRightBg

                        .cycles__contentBottomItemArrowFirstCircle
                            .cycles__contentBottomItemArrowSecondCircle
                                img.cycles__contentBottomItemArrow(
                                    src="assets/images/serm/cyclesItemArrow.svg" alt="Декоративная стрелка"
                                    width=7 height=15
                                )

                        .cycles__contentBottomItemCircle
                                .cycles__contentBottomItemCircleInnerCircle
                                    p.cycles__contentBottomItemCircleInnerCircleText 06

                        .cycles__contentBottomItemContent
                            .cycles__contentBottomItemLeft
                                h3.cycles__contentBottomItemLeftTitle Финальный этап

                            .cycles__contentBottomItemRight
                                ul.cycles__contentBottomItemRightList
                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText Публикация сайта на хостинг и передача доступов

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Обучение дальнейшему админстрированию

                                    li.cycles__contentBottomItemRightListItem
                                        .cycles__contentBottomItemRightListItemDash
                                        p.cycles__contentBottomItemRightListItemText  Базовая SEO оптимизация сайта