section.types.types-sds.sectionForProgresCircleColor.whiteSection
    img.stackDecorativeCircletTop-sds(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    img.stackDecorativeCircletBottom-sds(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    .container
        .types__content.types__content-sds
            .types__contentTop.types__contentTop-sds.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .types__contentTopLeft.types__contentTopLeft-sds
                    .servisec-list__item.servisec-list__item--notMargin
                        .servisec-list__item-title-span-wrapper
                            .servisec-list__item-title-span-bg.servisec-list__item-title-span-bg--transparent

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                                span.servisec-list__item-title-span
                                | Стоимость разработки 
                                br
                                | Landing Page

                .types__contentTopRight
                    .fillingButton.fillingButton--types.modalTrigger(data-modal="2")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                        svg.fillingButton__svg.fillingButton__svg--types( viewBox="0 0 160 160" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--types( cx="80" cy="80" r="80" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--types

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin-and-partial Консуль
                                | тация


            .types__contentBottom
                .types__contentBottomItems.types__contentBottomItems-sds

                    .types__contentBottomItem-sds.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five-sds
                            
                            .decorationsWrapperBlack 
                                p.decorationsWrapperBlackText-sds
                                    | Стартовый
                                img.decorationsWrapperBlackImage(
                                    src="assets/images/serviceDetailSecond/!.svg" alt="Декоративный круг" 
                                    width=16 height=16
                                )
                                p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--topRight
                                    | от 25 000 руб
                                .three-sds
                                .four

                        .types__contentBottomItemContent
                            p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--center
                                    | от 25 000 руб

                            p.types__contentBottomItemText-sds 
                                | Быстрый и недорого запуск тестирования возможностей интернет продаж вашего бизнеса

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подбор тематического шаблона

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Изменение цветового решения, заполнение клиентской информацией

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Заполнение сайта предоставленной информацией

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подбор и регистрация доменного имени

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подключение базовых аналитических сервисов

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Публикация сайта в интернете
                        
                        .types__contentBottomItemButtonWrapper
                            .types__contentBottomItemButton-sds.modalTrigger(data-modal="1")
                                p.types__contentBottomItemButtonText Оставить заявку
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem-sds.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five-sds
                            
                            .decorationsWrapperBlack 
                                p.decorationsWrapperBlackText-sds
                                    | Премиум
                                img.decorationsWrapperBlackImage(
                                    src="assets/images/serviceDetailSecond/!.svg" alt="Декоративный круг" 
                                    width=16 height=16
                                )
                                p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--topRight
                                    | от 80 000 руб   
                                .three-sds
                                .four

                        .types__contentBottomItemContent
                            p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--center
                                    | от 80 000 руб

                            p.types__contentBottomItemText-sds 
                                | Быстрый и недорого запуск тестирования возможностей интернет продаж вашего бизнеса

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Проектирование продающей структуры сайта

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Отрисовка прототипа сайта с проработкой гипотез

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка индивидуального дизайна на основе прототипов

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подбор и регистрация доменного имени

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Кастомизированная анимация элементов сайта

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Использование продающей формулы AIDA

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Расширенная интеграция сервисов аналитики

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Написание продающих текстов

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Публикация сайта в интернете дальнейшая поддержка
                                                
                        .types__contentBottomItemButtonWrapper
                            .types__contentBottomItemButton-sds.modalTrigger(data-modal="1")
                                p.types__contentBottomItemButtonText Оставить заявку
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem-sds.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five-sds
                            
                            .decorationsWrapperBlack 
                                p.decorationsWrapperBlackText-sds
                                    | Продвинутый
                                img.decorationsWrapperBlackImage(
                                    src="assets/images/serviceDetailSecond/!.svg" alt="Декоративный круг" 
                                    width=16 height=16
                                )
                                p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--topRight
                                    | от 50 000 руб   
                                .three-sds
                                .four

                        .types__contentBottomItemContent
                            p.decorationsWrapperBlackText-sds.decorationsWrapperBlackText-sds--black.decorationsWrapperBlackText-sds--center
                                    | от 50 000 руб

                            p.types__contentBottomItemText-sds 
                                | Быстрый и недорого запуск тестирования возможностей интернет продаж вашего бизнеса

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка детализированного прототипа сайта

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Отрисовка индивидуального продающего дизайна

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подбор и регистрация доменного имени

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Подключение аналитических средств

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Базовая анимация элементов сайта

                                li.types__contentBottomItemListLi
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Публикация сайта в интернете, дальнейшая поддержка
                        
                        .types__contentBottomItemButtonWrapper
                            .types__contentBottomItemButton-sds.modalTrigger(data-modal="1")
                                p.types__contentBottomItemButtonText Оставить заявку
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

            .types__contentFooter
                h3.types__contentFooterTitle ИЛИ
                p.types__contentFooterText 
                    | Просто нажмите на кнопку, и мы поможем вам подобрать подходящий вариант для  вашего бизнеса, либо предложим работу на индивидуальных условиях 
                .modalTrigger(data-modal="2").types__contentFooterButton Нужна консультация
