section.intro-blog-once-page.sectionForProgresCircleColor.whiteSection
    img.intro__decoration-circle-blog-once-page(
        src="assets/images/blog-once-page/decoration-circle.svg" alt="Круг декоративный"
        width="408" height="384"
    )

    .container.container--blog-once-page
        .intro__header-blog-once-page
            .intro__header-top-blog-once-page
                .blog__items-item-visible-block-top-blog-page-blog
                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page-gray Маркетинг
                    .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle--salad
                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date-blog-once-page-gray 4 января 2023

            .intro__header-middle-blog-once-page
                h1.intro__header-middle-title-blog-once-page Digital аутсорсинг показываем и рассказываем как это  работает
                .intro__header-middle-button
                    a.fillingButton.fillingButton--blog-once-page( href="blog.html" )
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--blog-once-page( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--blog-once-page

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span Вернуться
                                | назад

            .intro__header-bottom
                .blog__in-page-header--left-breadcrumbs
                    a( href="blog.html" ).blog__in-page-header--left-breadcrumbs-item
                        .blog__in-page-header--left-breadcrumbs-item-text Блог
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )
                    a( href="#" ).blog__in-page-header--left-breadcrumbs-item
                        .blog__in-page-header--left-breadcrumbs-item-text Маркетинг
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )
                    a( href="#" ).blog__in-page-header--left-breadcrumbs-item.blog__in-page-header--left-breadcrumbs-item--not-arrow
                        .blog__in-page-header--left-breadcrumbs-item-text Digital аутсорсинг показываем и рассказываем как это  работает
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )

        .intro__content-blog-once-page
            .intro__content-image-block-blog-once-page
                picture
                    source(srcset="assets/images/blog-once-page/item-1.webp" type="image/webp")
                    source(srcset="assets/images/blog-once-page/item-1.jpg" type="image/jpg")
                    img.intro__content-image-blog-once-page(
                        src="assets/images/blog-once-page/item-1.jpg" alt="Декоративная картинка"
                        width="1375" height="647"
                    )

            .intro__content-text-block-blog-once-page
                p.intro__content-text-blog-once-page.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                    | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников,
                    | современные исследования будут призваны к ответу. Наше дело не так однозначно, как может
                    | показаться: семантический разбор внешних противодействий предполагает независимые способы реализации
                    |своевременного выполнения сверхзадачи. Как принято считать, стремящиеся вытеснить традиционное производство,
                    | нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть призваны к ответу.
                    | В целом, конечно, высококачественный прототип будущего проекта создаёт предпосылки для системы массового участия.
                    | Повседневная практика показывает, что убеждённость некоторых оппонентов выявляет срочную потребность поэтапного
                    | и последовательного развития общества. В своём стремлении улучшить пользовательский опыт мы упускаем, что реплицированные
                    | с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. В целом, конечно,
                    | семантический разбор внешних противодействий однозначно определяет каждого участника как способного принимать собственные
                    | решения касаемо своевременного выполнения сверхзадачи! Сложно сказать, почему базовые сценарии поведения пользователей
                    | являются только методом политического участия и объявлены нарушающими общечеловеческие нормы этики и морали. Как принято
                    | считать, действия представителей оппозиции представлены в исключительно положительном свете. Современные технологии
                    | достигли такого уровня, что современная методология разработки представляет собой интересный эксперимент проверки как
                    | самодостаточных, так и внешне зависимых концептуальных решений. Но повышение уровня гражданского сознания обеспечивает
                    | широкому кругу (специалистов) участие в формировании распределения внутренних резервов и ресурсов. Следует отметить,
                    | что разбавленное изрядной долей эмпатии, рациональное мышление, в своём классическом представлении, допускает внедрение
                    | распределения внутренних резервов и ресурсов. С учётом сложившейся международной обстановки, экономическая повестка
                    | сегодняшнего дня способствует повышению качества вывода текущих активов. Сложно сказать, почему реплицированные с зарубежных
                    | источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы,
                    | разумеется, обнародованы.

        .intro__related-publications-blog-once-page
            .section__titles.section__titles--white.section__titles--reviews
                .section__titles-left.section__titles-left--reviews
                    .section__title
                        h3.section__title-title.section__title-title-black.intro__related-publications--blog-once-page Что говорят наши клиенты

            .intro__related-publications-slider.splide( aria-label="Splide Basic HTML Example" )
                .splide__track
                    ul.intro__related-publications-list.splide__list.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-1.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-1.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-1.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях


                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-2.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-2.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-2.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях


                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-3.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-3.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-3.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях

                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-1.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-1.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-1.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях

                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-2.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-2.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-2.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях


                        a(href="#").blog__items-item--blog-once-page.splide__slide
                            picture
                                source(srcset="assets/images/index/blog/item-3.webp" type="image/webp")
                                source(srcset="assets/images/index/blog/item-3.jpg" type="image/jpg")
                                img.blog__items-item-image--blog-once-page(
                                    src="assets/images/index/blog/item-3.jpg" alt="Фото ноутбука"
                                    width="280" height="258"
                                )

                            .blog__items-item-block--blog-once-page
                                .blog__items-item-visible-block.blog__items-item-visible-block--blog-once-page
                                    .blog__items-item-visible-block-top-blog--once-page
                                        .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title-blog-once-page SMM
                                        .blog__items-item-visible-block-top-circle.blog__items-item-visible-block-top-circle-blog-once-page
                                        .blog__items-item-visible-block-top-date-blog-once-page 4 января 2023
                                    .blog__items-item-visible-block-body
                                        .blog__items-item-visible-block-body-text--blog-page.blog__items-item-visible-block-body-text-blog-once-page
                                            | Важность ведения страниц вашего бизнеса в социальных сетях