section.info.sectionForProgresCircleColor.whiteSection
    h1.visibleHidden

    img.info__decorativeCircleWithLines--transparent(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=548 height=548
    )

    .container
        .info__content
            .info__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .info__contentTopLeft
                    h2.info__contentTopLeftTitle.infoTitle Выполненные работы
                    ul.info__contentTopLeftList
                        li.info__contentTopLeftListItem.infoText 
                            .bullet
                            p Копирайтинг
                        li.info__contentTopLeftListItem.infoText
                            .bullet.bullet
                            p Фирменный стиль
                        li.info__contentTopLeftListItem.infoText
                            .bullet.bullet
                            p Дизайн сайта
                        li.info__contentTopLeftListItem.infoText
                            .bullet.bullet
                            p Разработка сайта
                        li.info__contentTopLeftListItem.infoText
                            .bullet
                            p Настройка CMS

                .info__contentTopRight
                    .info__contentTopRightItem
                        h3.info__contentTopRightItemTitle.infoTitle Задача
                        p.info__contentTopRightItemText.infoText.infoText--350
                            | Разработать современный и легкий корпоративный сайт с 
                            | уникальным дизайном и актуальной информацией об услугах компании
                            | на базе платформы 1C битрикс управление сайтом

                    .info__contentTopRightItem
                        h3.info__contentTopRightItemTitle.infoTitle Решение
                        p.info__contentTopRightItemText.infoText.infoText--350
                            | Разработали интернет-магазин с возможностью оформления и оплаты заказов 
                            |онлайн. Для простоты администрирования сайта выбрали платформу WordPress.

            .info__contentBottom.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                .info__contentBottomLeftWrapper
                    .info__contentBottomLeft
                        ul.info__contentBottomLeftLists
                            li.info__contentBottomLeftListsItem
                                h3.info__contentBottomLeftListsItemTitle.infoTitle.infoTitle--big Процесс создания
                                
                                ol.info__contentBottomLeftListsItemList
                                    li.info__contentBottomLeftListsItemListItem
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Анализ деятельности и актуальных сайтов конкурентов в интернете
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Разработка технического прототипа, УТП, копирайтинг
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Разработка дизайна страниц
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Мобильная адаптация под все устройства
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Подключение сервиса “Яндекс Метрика” с отслеживанием целей
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Интеграция с платформой 1С битрикс управление сайтом
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--grey.bullet--small
                                        p
                                            | Обучение ответственных сотрудников компании администрированию сайта

                            li.info__contentBottomLeftListsItem
                                h3.info__contentBottomLeftListsItemTitle.infoTitle.infoTitle--small Результат
                                ul.info__contentBottomLeftListsItemList
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--small
                                        p
                                            | Современный продающий сайт
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--small
                                        p
                                            | Высокая конверсия
                                    li.info__contentBottomLeftListsItemListItem 
                                        .bullet.bullet--small
                                        p
                                            | Удобство администрирования

                        .info__contentBottomLeftStack
                            h2.info__contentBottomLeftStackTitle.infoTitle Стек технологий

                            .info__contentBottomLeftStackItems
                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/figma.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 Figma

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/css.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 CSS 3
                                    
                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/html.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 HTML 5

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/jquery.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 jQuery

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/php.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 PHP 8

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/hab.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 GitHub

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/woo.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 WooCommerce

                                .info__contentBottomLeftStackItem
                                    img.info__contentBottomLeftStackItemImage(
                                        src="assets/images/productsOncePage/wp.svg" alt="Figma" 
                                        width=50 height=50
                                    )
                                    .info__contentBottomLeftStackItemName.infoText.infoText--500 WordPress

                .info__contentBottomRight
                    .info__contentBottomRightImageWrapper.galleryItem.galleryItem--highest
                        picture
                            source(srcset="assets/images/productsOncePage/createdSiteImage.webp" type="image/webp")
                            source(srcset="assets/images/productsOncePage/createdSiteImage.jpg" type="image/jpg")
                            img.info__contentBottomRightImage(
                                src="assets/images/productsOncePage/createdSiteImage.jpg" alt="Figma" 
                                width=690 height=1100
                            )
                        img.galleryCrossButton( src="assets/images/utils/whiteCross.svg" )
