section.mayToLike.sectionForProgresCircleColor
    h1.visibleHidden Вам может понравиться

    .container.container--mayToLike.container--forGlowingCircle
        .mayToLike__lines-productsOncePage
            .mayToLike__line
            .mayToLike__line
            .mayToLike__line

        picture
            source(srcset="assets/images/utils/glowingCircle.webp" type="image/webp")
            source(srcset="assets/images/utils/glowingCircle.png" type="image/png")
            img.glowingCircleBottom-productsOncePage(
                src="assets/images/utils/glowingCircle.png" alt="Декоративный круг" 
            )

        .mayToLike__content

            .mayToLike__contentTop
                .mayToLike__contentTopLeft
                    h2.mayToLike__contentTopLeftTitle.infoTitle.infoTitle--notCenter.infoTitle--white Вам может понравиться
                    p.mayToLike__contentTopLeftText.infoText.infoText--white 
                        | Мы на постоянной основе пополняем
                        | коллекцию выполненных проектов

                .mayToLike__contentTopRight
                    .mayToLike__contentTopRightButton.modalTrigger(data-modal="4")
                        span Рассчитать проект
                        img.intro__contentRightSideButtonImage(
                            src="assets/images/utils/arrowForButton--small.svg" alt="Стрелка" 
                            width=32 height=10
                        )
                
            .mayToLike__contentBottom
                .mayToLike__contentBottomItems
                    article.projects__item-productsOncePage.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        a(href="").projects__itemImageWrapper-productsOncePage
                            .projects__itemImageWrapper--overHidden
                                picture
                                    source(srcset="assets/images/projects/rag.webp" type="jpg/webp")
                                    source(srcset="assets/images/projects/rag.jpg" type="image/jpg")
                                    img.projects__itemImage-productsOncePage(
                                        src="assets/images/projects/rag.jpg" alt="Превью сайта"
                                        width=650 height=520
                                    )
                            img.projects__itemImageDecoration-productsOncePage(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper-productsOncePage
                            h2.projects__itemTitle-productsOncePage Рибера Казань
                            .projects__itemTitleLine-productsOncePage
                        p.projects__itemSuptitle-productsOncePage Корпоративный сайт

                    article.projects__item-productsOncePage.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        a(href="").projects__itemImageWrapper-productsOncePage
                            .projects__itemImageWrapper--overHidden
                                picture
                                    source(srcset="assets/images/projects/logistic.webp" type="image/webp")
                                    source(srcset="assets/images/projects/logistic.jpg" type="image/jpg")
                                    img.projects__itemImage-productsOncePage(
                                        src="assets/images/projects/logistic.jpg" alt="Превью сайта"
                                        width=650 height=520
                                    )
                            img.projects__itemImageDecoration-productsOncePage(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper-productsOncePage
                            h2.projects__itemTitle-productsOncePage Рибера Казань
                            .projects__itemTitleLine-productsOncePage
                        p.projects__itemSuptitle-productsOncePage Корпоративный сайт
                        
                    article.projects__item-productsOncePage.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        a(href="").projects__itemImageWrapper-productsOncePage
                            .projects__itemImageWrapper--overHidden
                                picture
                                    source(srcset="assets/images/projects/polygonal.webp" type="image/webp")
                                    source(srcset="assets/images/projects/polygonal.jpg" type="image/jpg")
                                    img.projects__itemImage-productsOncePage(
                                        src="assets/images/projects/polygonal.jpg" alt="Превью сайта"
                                        width=650 height=520
                                    )
                            img.projects__itemImageDecoration-productsOncePage(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper-productsOncePage
                            h2.projects__itemTitle-productsOncePage Рибера Казань
                            .projects__itemTitleLine-productsOncePage
                        p.projects__itemSuptitle-productsOncePage Корпоративный сайт

                    article.projects__item-productsOncePage.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        a(href="").projects__itemImageWrapper-productsOncePage
                            .projects__itemImageWrapper--overHidden
                                picture
                                    source(srcset="assets/images/projects/man.webp" type="image/webp")
                                    source(srcset="assets/images/projects/man.jpg" type="image/jpg")
                                    img.projects__itemImage-productsOncePage(
                                        src="assets/images/projects/man.jpg" alt="Превью сайта"
                                        width=650 height=520
                                    )
                            img.projects__itemImageDecoration-productsOncePage(
                                src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                                width=310 height=148
                            )
                        .projects__itemTitleWrapper-productsOncePage
                            h2.projects__itemTitle-productsOncePage Рибера Казань
                            .projects__itemTitleLine-productsOncePage
                        p.projects__itemSuptitle-productsOncePage Корпоративный сайт