section.other.sectionForProgresCircleColor
    .container.container--forGlowingCircle
        picture
            source(srcset="assets/images/utils/glowingCircle.webp" type="image/webp")
            source(srcset="assets/images/utils/glowingCircle.png" type="image/png")
            img.glowingCircleTop(
                src="assets/images/utils/glowingCircle.png" alt="Светящийся круг" 
                width=863 height=863
            )

        .other__content
            .other__contentTitleWrapper
                h2.other__contentTitle.infoTitle.infoTitle--big.infoTitle--white Другие страницы проекта
            
            .other__contentItems
                .other__contentItemBlockWrapper.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .other__contentItemWrapper
                        article.other__contentItem
                            .other__contentItemSideDieWrapper
                                .other__contentItemSideDie
                                    svg.other__contentItemSideDieImage( width="75" height="259" viewBox="0 0 75 259" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M0 173.588V20.7433C0 5.78392 15.8222 -3.88042 29.1314 2.94958L64.1314 20.9108C70.804 24.335 75 31.2046 75 38.7046V259L0 173.588Z" )

                                    h3.other__contentItemSideDieTitle Главная страница

                            picture
                                source(srcset="assets/images/productsOncePage/other-1.webp" type="image/webp")
                                source(srcset="assets/images/productsOncePage/other-1.png" type="image/png")
                                img.other__contentItemImage(
                                    src="assets/images/productsOncePage/other-1.jpg" alt="Скриншот сайта"
                                    width=229 height=231
                                )
                                div.cross(src="assets/images/utils/whiteCross.svg")

                    .other__contentItemButtonBlock
                        a(href="#").other__contentItemButton Посмотреть

                .other__contentItemBlockWrapper.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .other__contentItemWrapper
                        article.other__contentItem
                            .other__contentItemSideDieWrapper
                                .other__contentItemSideDie
                                    svg.other__contentItemSideDieImage( width="75" height="259" viewBox="0 0 75 259" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M0 173.588V20.7433C0 5.78392 15.8222 -3.88042 29.1314 2.94958L64.1314 20.9108C70.804 24.335 75 31.2046 75 38.7046V259L0 173.588Z" )

                                    h3.other__contentItemSideDieTitle Главная страница

                            picture
                                source(srcset="assets/images/productsOncePage/other-1.webp" type="image/webp")
                                source(srcset="assets/images/productsOncePage/other-1.png" type="image/png")
                                img.other__contentItemImage(
                                    src="assets/images/productsOncePage/other-1.jpg" alt="Скриншот сайта"
                                    width=229 height=231
                                )
                                div.cross(src="assets/images/utils/whiteCross.svg")

                    .other__contentItemButtonBlock
                        a(href="#").other__contentItemButton Посмотреть

                .other__contentItemBlockWrapper.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .other__contentItemWrapper
                        article.other__contentItem
                            .other__contentItemSideDieWrapper
                                .other__contentItemSideDie
                                    svg.other__contentItemSideDieImage( width="75" height="259" viewBox="0 0 75 259" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M0 173.588V20.7433C0 5.78392 15.8222 -3.88042 29.1314 2.94958L64.1314 20.9108C70.804 24.335 75 31.2046 75 38.7046V259L0 173.588Z" )

                                    h3.other__contentItemSideDieTitle Главная страница

                            picture
                                source(srcset="assets/images/productsOncePage/other-1.webp" type="image/webp")
                                source(srcset="assets/images/productsOncePage/other-1.png" type="image/png")
                                img.other__contentItemImage(
                                    src="assets/images/productsOncePage/other-1.jpg" alt="Скриншот сайта"
                                    width=229 height=231
                                )
                                div.cross(src="assets/images/utils/whiteCross.svg")

                    .other__contentItemButtonBlock
                        a(href="#").other__contentItemButton Посмотреть

                .other__contentItemBlockWrapper.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .other__contentItemWrapper
                        article.other__contentItem
                            .other__contentItemSideDieWrapper
                                .other__contentItemSideDie
                                    svg.other__contentItemSideDieImage( width="75" height="259" viewBox="0 0 75 259" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M0 173.588V20.7433C0 5.78392 15.8222 -3.88042 29.1314 2.94958L64.1314 20.9108C70.804 24.335 75 31.2046 75 38.7046V259L0 173.588Z" )

                                    h3.other__contentItemSideDieTitle Главная страница

                            picture
                                source(srcset="assets/images/productsOncePage/other-1.webp" type="image/webp")
                                source(srcset="assets/images/productsOncePage/other-1.png" type="image/png")
                                img.other__contentItemImage(
                                    src="assets/images/productsOncePage/other-1.jpg" alt="Скриншот сайта"
                                    width=229 height=231
                                )
                                div.cross(src="assets/images/utils/whiteCross.svg")

                    .other__contentItemButtonBlock
                        a(href="#").other__contentItemButton Посмотреть


                .other__contentItemBlockWrapper.galleryItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                    .other__contentItemWrapper
                        article.other__contentItem
                            .other__contentItemSideDieWrapper
                                .other__contentItemSideDie
                                    svg.other__contentItemSideDieImage( width="75" height="259" viewBox="0 0 75 259" xmlns="http://www.w3.org/2000/svg")
                                        path( d="M0 173.588V20.7433C0 5.78392 15.8222 -3.88042 29.1314 2.94958L64.1314 20.9108C70.804 24.335 75 31.2046 75 38.7046V259L0 173.588Z" )

                                    h3.other__contentItemSideDieTitle Главная страница

                            picture
                                source(srcset="assets/images/productsOncePage/other-1.webp" type="image/webp")
                                source(srcset="assets/images/productsOncePage/other-1.png" type="image/png")
                                img.other__contentItemImage(
                                    src="assets/images/productsOncePage/other-1.jpg" alt="Скриншот сайта"
                                    width=229 height=231
                                )
                                div.cross(src="assets/images/utils/whiteCross.svg")

                    .other__contentItemButtonBlock
                        a(href="#").other__contentItemButton Посмотреть