section.benefits-support.sectionForProgresCircleColor.whiteSection
    img.projects__obliqueLines.projects__obliqueLines--benefits(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container
        .benefits__content-sup
            .benefits__contentLeftWrapper
                .benefits__contentLeft
                    .benefits__contentItem--title
                        h2.benefits__contentItemTitle Преимущества нашей команды поддержки
            
            .benefits__contentRight
                .benefits__contentItems
                            
                    .benefits__contentItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/serm/expert.svg" alt="Декоративная картинка" 
                                width=52 height=52
                            )
                            h2.benefits__contentItemTopTitle Высокая 
                                br
                                | экспертность

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Обладаем высокой экспертизой управления репутациеи персоны или компании в востребованных интернет-тематиках. Имеем опыт более 50 успешных проектов в ORM и SERM

                    .benefits__contentItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/serm/interaction.svg" alt="Декоративная картинка" 
                                width=53 height=47
                            )
                            h2.benefits__contentItemTopTitle 
                                | Взаимодействие с 
                                br
                                | площадками

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Мы используем эффективные инструменты рынка для закрытия репутационных целей и задач клиента (сервисы мониторинга, работы с блогерами, анализа аудитории, контроля КРІ и т. д.)

                    .benefits__contentItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon(
                                src="assets/images/serm/confidential.svg" alt="Декоративная картинка" 
                                width=35 height=41
                            )
                            h2.benefits__contentItemTopTitle Гарантия 
                                br
                                | конфиденциальности 

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Благодаря строгой иерархии и глубокой погруженности в проект не допускаем ни одной утечки информации и личных данных. С каждым клиентом подписывает NDA по услугам SERM

                    .benefits__contentItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .benefits__contentItemTop
                            img.benefits__contentItemTopIcon--marginLeft(
                                src="assets/images/serm/reports.svg" alt="Декоративная картинка" 
                                width=104  height=104
                            )
                            h2.benefits__contentItemTopTitle Предоставление
                                br
                                | отчетности

                        .benefits__contentItemBottom
                            p.benefits__contentItemBottomText
                                | Заказав услуги по управлению репутацией в интернете, можно следить за проектом online. В цену входят регулярные отчеты о результате работ с аналитикой и рекомендациями