section.costs-sup.sectionForProgresCircleColor
    img.decorativeCicrcleWithLines-sup(
        src="assets/images/utils/circleWithLines--salad.svg" alt="Круг с линиями" 
         width=445 height=445
    )

    .container
        .costs__content
            .costs__contentTop-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .servisec-list__item
                    .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                        .servisec-list__item-title-span-bg

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle
                            span.servisec-list__item-title-span  Задачи,
                            | &nbsp;которые мы берем на себя

                .fillingButton.fillingButton--costsTop.modalTrigger(data-modal="1")
                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                    svg.fillingButton__svg( viewBox="0 0 204 204" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsTop( cx="102" cy="102" r="102" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--costsTop

                    .fillingButton__content
                        p.fillingButton__p
                            span.fillingButton__span--smallMargin-and-partial Остави
                            | ть заявку

            .costs__contentBottom-sup
                .costs__contentBottomItems-sup

                    .costs__contentBottomItem-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .costs__contentBottomItemTop-sup
                            .costs__contentBottomItemTopLeft-sup
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/support/transfer.svg" alt="Декоративная картинка" 
                                    width=62 height=59
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-sup Перенос проектов и сайтов под ключ

                        .costs__contentBottomItemMiddle-sup
                            p.costs__contentBottomItemMiddleText-sup
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 

                        .costs__contentBottomItemBottom-sup
                            .costs__contentBottomItemBottomLeft-sup
                                p.costs__contentBottomItemBottomLeftText-sup От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="1")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация
                                    
                    .costs__contentBottomItem-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .costs__contentBottomItemTop-sup
                            .costs__contentBottomItemTopLeft-sup
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/support/selection.svg" alt="Декоративная картинка" 
                                    width=92 height=87
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-sup Подбор и настройка серверов и ПО

                        .costs__contentBottomItemMiddle-sup
                            p.costs__contentBottomItemMiddleText-sup
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 

                        .costs__contentBottomItemBottom-sup
                            .costs__contentBottomItemBottomLeft-sup
                                p.costs__contentBottomItemBottomLeftText-sup От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="1")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультаци

                    .costs__contentBottomItem-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .costs__contentBottomItemTop-sup
                            .costs__contentBottomItemTopLeft-sup
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/support/eye.svg" alt="Декоративная картинка" 
                                    width=68 height=68
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-sup Мониторинг работоспособности

                        .costs__contentBottomItemMiddle-sup
                            p.costs__contentBottomItemMiddleText-sup
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 

                        .costs__contentBottomItemBottom-sup
                            .costs__contentBottomItemBottomLeft-sup
                                p.costs__contentBottomItemBottomLeftText-sup От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="1")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация

                    .costs__contentBottomItem-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .costs__contentBottomItemTop-sup
                            .costs__contentBottomItemTopLeft-sup
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/support/shield.svg" alt="Декоративная картинка" 
                                    width=78 height=75
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-sup Обеспечение безопасности проекта

                        .costs__contentBottomItemMiddle-sup
                            p.costs__contentBottomItemMiddleText-sup
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 

                        .costs__contentBottomItemBottom-sup
                            .costs__contentBottomItemBottomLeft-sup
                                p.costs__contentBottomItemBottomLeftText-sup От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="1")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация

                    .costs__contentBottomItem-sup.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                        .costs__contentBottomItemTop-sup
                            .costs__contentBottomItemTopLeft-sup
                                img.costs__contentBottomItemTopLeftIcon(
                                    src="assets/images/support/question.svg" alt="Декоративная картинка" 
                                    width=69 height=72
                                )
                            .costs__contentBottomItemTopRight
                                h3.costs__contentBottomItemTopRightTitle-sup Задача, которую мы забыли упомянуть

                        .costs__contentBottomItemMiddle-sup
                            p.costs__contentBottomItemMiddleText-sup
                                | Противоположная точка зрения подразумевает, что реплицированные с зарубежных источников, современные исследования будут призваны к ответу. Противоположная точка зрения 

                        .costs__contentBottomItemBottom-sup
                            .costs__contentBottomItemBottomLeft-sup
                                p.costs__contentBottomItemBottomLeftText-sup От 10 000 рублей

                            .costs__contentBottomItemBottomLeftRight
                                .fillingButton.fillingButton--costsItem.modalTrigger(data-modal="1")
                                    .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                                    svg.fillingButton__svg.fillingButton__svg--costsItem( viewBox="0 0 124 124" )
                                        circle.fillingButton__svg-circle.fillingButton__svg-circle--costsItem( cx="62" cy="62" r="62" fill="transparent" )

                                    .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--costsItem

                                    .fillingButton__content
                                        p.fillingButton__p.fillingButton__p--costsItem.fillingButton__p--black
                                            span.fillingButton__span--smallMargin-and-partial Конс
                                            | ультация