section.services-attraction.sectionForProgresCircleColor
    .container
        .services__content-attraction
            .services__contentTop-attraction.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                .services__contentTopLeft-attraction
                    .servisec-list__item
                        .servisec-list__item-title-span-wrapper.servisec-list__item-title-span-wrapper--wide
                            .servisec-list__item-title-span-bg

                        .servisec-list__item-content
                            h1.servisec-list__item-title.servicesTitle
                                span.servisec-list__item-title-span Наши услуги&nbsp;
                                | &nbsp;для продвижения 
                                br
                                | вашего бизнеса

                .services__contentTopRight
                    .fillingButton.fillingButton--servicesTop.modalTrigger(data-modal="2")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--white.svg")
                        svg.fillingButton__svg.fillingButton__svg--servicesTop( viewBox="0 0 160 160" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--servicesTop( cx="80" cy="80" r="80" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--servicesTop

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Беспла
                                | тная консультация

            .services__contentBottom
                .services__contentBottomItems-attraction
                    article.services__contentBottomItem-attraction.animationItem-attraction.animationNoRepeat(data-scroll data-scroll-call="7")
                        .services__contentBottomItemTop-attraction
                            img.services__contentBottomItemTopImage-attraction(
                                src="assets/images/attraction/add.svg" alt="Декоративная картинка" 
                                width=77 height=67
                            )
                            h3.services__contentBottomItemTopTitle-attraction Настройка рекламной кампании
                
                        p.services__contentBottomItemText-attraction
                            | Производим анализ ниши, который включает в себя так же анализ конкурентов, настраиваем контекстную рекламу в сети яндекс директ
                        
                        ul.services__contentBottomItemList-attraction
                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | В целом, конечно, высококачественный прототип будущего проекта создаёт 

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                        .services__contentBottomItemListItemBottom-attraction
                            p.services__contentBottomItemListItemBottomPrice-attraction от 20 000 руб.
                            .modalTrigger(data-modal="2").services__contentBottomItemListItemBottomButton-attraction Оставить заявку

                    article.services__contentBottomItem-attraction.animationItem-attraction.animationNoRepeat(data-scroll data-scroll-call="7")
                        .services__contentBottomItemTop-attraction
                            img.services__contentBottomItemTopImage-attraction(
                                src="assets/images/attraction/audit.svg" alt="Декоративная картинка" 
                                width=59 height=67
                            )
                            h3.services__contentBottomItemTopTitle-attraction Аудит сайта и текущей рекламной кампании
                
                        p.services__contentBottomItemText-attraction
                            | Анализируем ваш текущий сайт и рекламную кампанию, основываясь на своем опыте предлагаем идеи по исправлению ошибок
                        
                        ul.services__contentBottomItemList-attraction
                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | В целом, конечно, высококачественный прототип будущего проекта создаёт 

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                        .services__contentBottomItemListItemBottom-attraction
                            p.services__contentBottomItemListItemBottomPrice-attraction от 20 000 руб.
                            .modalTrigger(data-modal="2").services__contentBottomItemListItemBottomButton-attraction Оставить заявку

                    article.services__contentBottomItem-attraction.animationItem-attraction.animationNoRepeat(data-scroll data-scroll-call="7")
                        .services__contentBottomItemTop-attraction
                            img.services__contentBottomItemTopImage-attraction(
                                src="assets/images/attraction/conduction.svg" alt="Декоративная картинка" 
                                width=72 height=59
                            )
                            h3.services__contentBottomItemTopTitle-attraction Ведение рекламной кампании
                
                        p.services__contentBottomItemText-attraction
                            | Разработаем сочные и продающие баннеры, а наши копирайтеры напишут продающие текста и все вместе это поможет привести новые лиды
                        
                        ul.services__contentBottomItemList-attraction
                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | В целом, конечно, высококачественный прототип будущего проекта создаёт 

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                      width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                            li.services__contentBottomItemListItem-attraction
                                .services__contentBottomItemListItemBulletWrapper-attraction
                                    img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                        src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                        width=16 height=11
                                    )
                                .services__contentBottomItemListItemText-attraction
                                    | Какой то бла бла бла супервыгодный

                        .services__contentBottomItemListItemBottom-attraction
                            p.services__contentBottomItemListItemBottomPrice-attraction от 20 000 руб.
                            .modalTrigger(data-modal="2").services__contentBottomItemListItemBottomButton-attraction Оставить заявку