section.team.sectionForProgresCircleColor
    img.team__decorativeCircle(
        src="assets/images/utils/semiCircleBigthin.svg" alt="Картинка" 
        width=1339 height=1339
    )
    picture
        source(srcset="assets/images/utils/glowingCircle--big.webp" type="image/webp")
        source(srcset="assets/images/utils/glowingCircle--big.png" type="image/png")
        img.team__decorativeGlowingCircle(
            src="assets/images/utils/glowingCircle--big.png" alt="Картинка" 
            width=1437 height=1437
        )

    .container
        .team__content
            .team__contentTop
                .section__titles.section__titles--white
                    .section__titles-left
                        .section__overtitle
                            p.section__overtitle-text.section__overtitle-text--white IT SHTAB
                            .section__overtitle-line

                        .section__title
                            h3.section__title-title.section__title-title--white Команда

                    .section__titles__decoration-right--white
                    
                .fillingButton.fillingButton--big.fillingButton--brief-bottom.modalTrigger(data-modal="5")
                    svg.fillingButton__svg.fillingButton__svg--big( viewBox="0 0 276 276" )
                        circle.fillingButton__svg-circle.fillingButton__svg-circle--big.fillingButton__svg-circle--brief-bottom( cx="138" cy="138" r="138" fill="transparent" )

                    .fillingButton__circle.fillingButton__circle--big.fillingButton__circle--brief-bottom

                    .fillingButton__content.fillingButton__content--big
                        p.fillingButton__p
                            span Хочу в команду

                        .fillingButton__images
                            .fillingButton__imagesWrapper

            .team__contentBottom
                .team__contentBottomItems
                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-1.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-1.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-1.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-2.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-2.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-2.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-3.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-3.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-3.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-4.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-4.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-4.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-1.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-1.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-1.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-2.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-2.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-2.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-3.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-3.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-3.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс

                    .team__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                        picture
                            source(srcset="assets/images/studio/team-4.webp" type="image/webp")
                            source(srcset="assets/images/studio/team-4.jpg" type="image/jpg")
                            img.team__contentBottomItemImage(
                            src="assets/images/studio/team-4.jpg" alt="Картинка" 
                            width=319 height=339
                            ) 
                        
                        .team__contentBottomItemTexts
                            h3.team__contentBottomItemTitle Иван Иванов
                            p.team__contentBottomItemText Не босс