section.intro-blog.whiteSection.sectionForProgresCircleColor

    img.blog__in-page-decoration-circle-blog(
        src="assets/images/blog/decoration-circle.svg" alt="Декоративный круг"
        width="408" height="384"
    )
    img.blog__in-page-decoration-circle-with-line-blog(
        src="assets/images/blog/decoration-circle-with-lines.svg" alt="Декоративный круг"
        width="548" height="548"
    )

    .container.container--blog__in-page
        .blog__in-page-header-blog
            .blog__in-page-header--left-blog
                .blog__in-page-header--left-title-blog Блог
                .blog__in-page-header--left-breadcrumbs
                    a( href="blog.html" ).blog__in-page-header--left-breadcrumbs-item
                        .blog__in-page-header--left-breadcrumbs-item-text Блог
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )
                    a( href="#" ).blog__in-page-header--left-breadcrumbs-item.blog__in-page-header--left-breadcrumbs-item--not-arrow
                        .blog__in-page-header--left-breadcrumbs-item-text Все записи
                        img.blog__in-page-header--left-breadcrumbs-item-arrow(
                            src="assets/images/blog/breadcrumbs-item-arrow.svg" alt="Стрелка"
                            width="6" height="6"
                        )

            .blog__in-page-header--right-blog
                ul.blog__in-page-header--right-items-blog
                    li.blog__in-page-header--right-item-blog.blog__in-page-header--right-item-blog--active
                        .blog__in-page-header--right-item-text-blog Все
                    li.blog__in-page-header--right-item-blog
                        .blog__in-page-header--right-item-text-blog Категория 1
                    li.blog__in-page-header--right-item-blog
                        .blog__in-page-header--right-item-text-blog Категория 2
                    li.blog__in-page-header--right-item-blog
                        .blog__in-page-header--right-item-text-blog Категория 3

        .blog__in-page-gallery-blog
            ul.blog__in-page-gallery-items-blog
                ul.blog__in-page-gallery-items--squares-blog
                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-1-square.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-1-square.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-1-square.jpg" alt="Декоративное фото блога"
                                        width="610" height="552"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-2-square.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-2-square.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-2-square.jpg" alt="Декоративное фото блога"
                                        width="610" height="552"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-3-square.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-3-square.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-3-square.jpg" alt="Декоративное фото блога"
                                        width="610" height="552"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                ul.blog__in-page-gallery-items--rectangles-blog
                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-1-rectangle-one.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-1-rectangle-one.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-1-rectangle-one.jpg" alt="Декоративное фото блога"
                                        width="657" height="387"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-2-rectangle.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-2-rectangle.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-2-rectangle.jpg" alt="Декоративное фото блога"
                                        width="658" height="389"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-3-rectangle.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-3-rectangle.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-3-rectangle.jpg" alt="Декоративное фото блога"
                                        width="658" height="389"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях

                    li.blog__in-page-gallery-item-blog.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateIn
                        a( href="blog-once-page.html" )
                            .blog__in-page-gallery-item-imageWrapper-blog
                                picture
                                    source(srcset="assets/images/blog/item-4-rectangle.webp" type="image/webp")
                                    source(srcset="assets/images/blog/item-4-rectangle.jpg" type="image/jpg")
                                    img.blog__in-page-gallery-item-image-blog(
                                        src="assets/images/blog/item-4-rectangle.jpg" alt="Декоративное фото блога"
                                        width="658" height="389"
                                    )
                            .blog__in-page-gallery-item-footer-blog
                                .blog__items-item-visible-block-top-blog.blog__items-item-visible-block-top-blog--blog-page
                                    .blog__items-item-visible-block-top-title.blog__items-item-visible-block-top-title--blog-page-blog SMM
                                    .blog__items-item-visible-block-top-circle-blog.blog__items-item-visible-block-top-circle-blog--blog-page
                                    .blog__items-item-visible-block-top-date.blog__items-item-visible-block-top-date--blog-page-blog 4 января 2023
                                .blog__items-item-visible-block-body-blog
                                    .blog__items-item-visible-block-body-text.blog__items-item-visible-block-body-text--blog-page-blog
                                        | Важность ведения страниц вашего бизнеса в социальных сетях