section.intro-services.sectionForProgresCircleColor
    h1.visibleHidden Популярные услуги

    img.intro__decorativeCircle-services(
        src="assets/images/utils/semicircle-to-right--gray.svg" alt="Декоративный круг" 
    )

    picture
        source(srcset="assets/images/services/bgCircle.webp" type="image/webp")
        source(srcset="assets/images/services/bgCircle.png" type="image/png")
        img.intro__decorativeCircleBg-services(
            src="assets/images/services/bgCircle.png" alt="Декоративный круг" 
        )

    .container.container-services
        .intro__contentTop-services
            .intro__contentLeftSide-services
                h2.intro__contentLeftSideSuptitle-services Популярные услуги
                h2.intro__contentLeftSideTitle-services
                    | Для выхода бизнеса
                    br
                    | на новый уровень

            .intro__contentLine-services

            .intro__contentRightSide-services
                .intro__contentRightSideButton-services.modalTrigger(data-modal="4")
                    span Рассчитать проект
                    img.intro__contentRightSideButtonImage-services(
                        src="assets/images/utils/arrowForButton--small.svg" alt="Стрелка" 
                        width=32 height=10
                    )
        
        .intro__contentBottom-services
            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/development.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services

            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/setting.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services

            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/modification.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services

            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/seo.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services

            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/support.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services

            article.intro__contentBottomItem-services
                a(href="").intro__contentBottomItemContent-services
                    img.intro__contentBottomItemContentImage-services(
                        src="assets/images/services/serm.svg" alt="Декоративное изображение" 
                        width=87 height=62
                    )
                    h1.intro__contentBottomItemContentTitle-services Разработка веб-сайтов под ключ
                    p.intro__contentBottomItemContentText-services
                        | Запускаем интернет - проекты от простых с 
                        | собственной изюминкой, до технически сложных 
                        | и крупных.
                    .intro__contentBottomItemContentFooter-services
                        .intro__contentBottomItemContentFooterPrice-services
                            | От 50 000 рублей
                        img.intro__contentBottomItemContentFooterImage-services(
                            src="assets/images/utils/burgerMenuArrowBlack.svg" alt="Стрелка" 
                            width=78 height=24
                        )

                .intro__contentBottomItemBottomLine-services
                    

                
        