section.clouds.sectionForProgresCircleColor
    img.obliqueLines(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Косые линии" 
        width=175 height=304
    )

    .container
        .clouds__content
            .clouds__contentTop.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideIn
                .clouds__contentTopLeft
                    .clouds__contentTopLeftImagesWrapper
                        img.clouds__contentTopLeftImageCloud(
                            src="assets/images/sitesDevelopment/cloud.svg" alt="Облако" 
                            width=66 height=54
                        )
                        img.clouds__contentTopLeftImageArrow(
                            src="assets/images/sitesDevelopment/cloudArrows.svg" alt="Стрелки" 
                            width=110 height=110
                        )

                .clouds__contentTopRight
                    h2.clouds__contentTopRightTitle Используем современные облачные решения
                    p.clouds__contentTopRightText Правильно подобранные инструменты помогают выполнять проекты безопасно качественно и в срок. Именно поэтому мы следим за новинками и внедряем новые более прогрессивные, быстрые и целенаправленные сервисы  

            .clouds__contentBottom
                .clouds__contentBottomItems

                    .clouds__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                        .clouds__contentBottomItemTop
                            .clouds__contentBottomItemTopIconWrapper
                                 img.clouds__contentBottomItemTopIcon(
                                    src="assets/images/sitesDevelopment/figma.svg" alt="Стрелки" 
                                    width=56 height=56
                                )
                            h3.clouds__contentBottomItemTopTitle Figma

                        .clouds__contentBottomItemBottom
                            p.clouds__contentBottomItemBottomText
                                | Создаем уникальную концепцию, на ее основе делаем живой прототип проекта. Выстраиваем дизайн-систему, в которую входят элементы интерфейса, шрифты, иконки. Дизайн система обеспечивает единый визуальный стиль решений и сокращает затраты временные затраты

                    .clouds__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                        .clouds__contentBottomItemTop
                            .clouds__contentBottomItemTopIconWrapper
                                 img.clouds__contentBottomItemTopIcon(
                                    src="assets/images/sitesDevelopment/gitlab.svg" alt="Стрелки" 
                                    width=39 height=36
                                )
                            h3.clouds__contentBottomItemTopTitle GitLab

                        .clouds__contentBottomItemBottom
                            p.clouds__contentBottomItemBottomText
                                | Создаем уникальную концепцию, на ее основе делаем живой прототип проекта. Выстраиваем дизайн-систему, в которую входят элементы интерфейса, шрифты, иконки. Дизайн система обеспечивает единый визуальный стиль решений и сокращает затраты временные затраты

                    .clouds__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInLeft
                        .clouds__contentBottomItemTop
                            .clouds__contentBottomItemTopIconWrapper
                                 img.clouds__contentBottomItemTopIcon(
                                    src="assets/images/sitesDevelopment/miro.svg" alt="Стрелки" 
                                    width=35 height=35
                                )
                            h3.clouds__contentBottomItemTopTitle Miro

                        .clouds__contentBottomItemBottom
                            p.clouds__contentBottomItemBottomText
                                | Создаем уникальную концепцию, на ее основе делаем живой прототип проекта. Выстраиваем дизайн-систему, в которую входят элементы интерфейса, шрифты, иконки. Дизайн система обеспечивает единый визуальный стиль решений и сокращает затраты временные затраты

                    .clouds__contentBottomItem.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                        .clouds__contentBottomItemTop
                            .clouds__contentBottomItemTopIconWrapper
                                 img.clouds__contentBottomItemTopIcon(
                                    src="assets/images/sitesDevelopment/telegram.svg" alt="Стрелки" 
                                    width=37 height=37
                                )
                            h3.clouds__contentBottomItemTopTitle Telegram

                        .clouds__contentBottomItemBottom
                            p.clouds__contentBottomItemBottomText
                                | Создаем уникальную концепцию, на ее основе делаем живой прототип проекта. Выстраиваем дизайн-систему, в которую входят элементы интерфейса, шрифты, иконки. Дизайн система обеспечивает единый визуальный стиль решений и сокращает затраты временные затраты
                                