section.types.sectionForProgresCircleColor.whiteSection
    .container
        .types__content
            .types__contentTop
                .servisec-list__item.servisec-list__item--notMargin
                    .servisec-list__item-title-span-wrapper
                        .servisec-list__item-title-span-bg

                    .servisec-list__item-content
                        h1.servisec-list__item-title.servicesTitle.servicesTitle--black
                            span.servisec-list__item-title-span Типы &nbsp;
                            | &nbsp;сайтов, которые
                            br
                            | мы делаем 

            .types__contentBottom
                .types__contentBottomItems
                
                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )

                    .types__contentBottomItem
                        .decorationsWrapper
                            .grayTriangle

                            .decorationsWrapperGreen
                                .seven
                                .eight

                            .five
                            
                            .decorationsWrapperBlack 
                                .decorationsWrapperBlackTextWrapper
                                    p.decorationsWrapperBlackText
                                        | Landing Page
                                .three
                                .four

                        .types__contentBottomItemContent

                            ul.types__contentBottomItemList
                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Уникальный современный продающий UX/UI дизайн

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Упаковка смыслов и продающие текста

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Разработка продающей структуры и инфографики

                                li.types__contentBottomItemListLi.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").puffIn
                                    .services__contentBottomItemListItemBulletWrapper
                                        img.bullet.bullet--image.bullet--imageCheckMarkServices(
                                            src="assets/images/attraction/checkMark.svg" alt="Галочка" 
                                            width=16 height=11
                                        )
                                    p.services__contentBottomItemListItemText
                                        | Внедрение контактных форм, виджетов и систем обратной связи

                            p.types__contentBottomItemText
                                | Разработка от 25 000 рублей
                            
                        
                        .types__contentBottomItemButtonWrapper.types__contentBottomItemButtonWrapper-noPadd
                            a(href="").types__contentBottomItemButton.types__contentBottomItemButton-width
                                p.types__contentBottomItemButtonText Перейти
                                img.types__contentBottomItemButtonImage(
                                    src="assets/images/sitesDevelopment/arrowMore.svg" alt="Стрелка" 
                                    width=38 height=15
                                )