section.stack-serviceDetail.sectionForProgresCircleColor.whiteSection
    img.stackDecorativeCircletTop-serviceDetail(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    img.stackDecorativeCircletBottom-serviceDetail(
        src="assets/images/utils/circleWithLines--transparent.svg" alt="Декоративный круг" 
        width=378 height=378
    )

    .container
        .stack__content-serviceDetail
            .stack__contentTop-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeInRight
                h2.stack__contentTopTitle-serviceDetail Используемый технологический стек
                .stack__contentTopButton
                    .fillingButton.fillingButton--stackTop.modalTrigger(data-modal="2")
                        .fillingButton__imageSrcInDataTag(data-src="assets/images/utils/arrowForFillingButton--black.svg")
                        svg.fillingButton__svg( viewBox="0 0 204 204" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--stackTop( cx="102" cy="102" r="102" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--black-border.fillingButton__circle--stackTop

                        .fillingButton__content
                            p.fillingButton__p.fillingButton__p--black
                                span.fillingButton__span--smallMargin Консультация

            .stack__contentMiddle-serviceDetail
                .stack__contentMiddleItems-serviceDetail
                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/laravel.svg" alt="Декоративная картинка" 
                                    width=35 height=36
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail Laravel
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/node.svg" alt="Декоративная картинка" 
                                    width=39 height=45
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail Node JS
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/laravel.svg" alt="Декоративная картинка" 
                                    width=39 height=45
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail Python django
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/vue.svg" alt="Декоративная картинка" 
                                    width=40 height=32
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail Vue.js
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/react.svg" alt="Декоративная картинка" 
                                    width=35 height=29
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail React
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами

                    .stack__contentMiddleItem-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").slideTop
                        .stack__contentMiddleItemHeader-serviceDetail
                            .stack__contentMiddleItemHeaderIconWrapper-serviceDetail
                                img.stack__contentMiddleItemHeaderIcon-serviceDetail(
                                    src="assets/images/serviceDetail/sql.svg" alt="Декоративная картинка" 
                                    width=46 height=32
                                )
                            .stack__contentMiddleItemHeaderTitle-serviceDetail MySQL
                        .stack__contentMiddleItemBody
                            p.stack__contentMiddleItemBodyText-serviceDetail
                                | Гибкий инструмент для коллективной работы и управления проектами. 
                                | Ставим задачи для разработчиков, контролируем процесс исполнения. 
                                | GitLab позволяет сохранить написанный код в онлайн формате и работать 
                                | с командой разработчиков над несколькими проектами
 
            .stack__contentBottom
                .stack__contentBottomItems-serviceDetail
                    .stack__contentBottomItem-serviceDetail
                        .stack__contentBottomItemIconWrapper-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/deepAnal.svg" alt="Декоративная картинка" 
                                width=83 height=79
                            )
                        h3.stack__contentBottomItemTitle-serviceDetail Глубокая аналитика
                        p.stack__contentBottomItemText-serviceDetail
                            | Анализ конкурентов, лучших решений, бизнес - интервью, веб-аналитика 
                            | наработанный опыт
        
                    .stack__contentBottomItem-serviceDetail
                        .stack__contentBottomItemIconWrapper-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/lamp.svg" alt="Декоративная картинка" 
                                width=60 height=76
                            )
                        h3.stack__contentBottomItemTitle-serviceDetail Управление вниманием
                        p.stack__contentBottomItemText-serviceDetail
                            | Сокращение пути пользователя к 
                            | целевому действию и скорость работы

                    .stack__contentBottomItem-serviceDetail
                        .stack__contentBottomItemIconWrapper-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/methods.svg" alt="Декоративная картинка" 
                                width=93 height=60
                            )
                        h3.stack__contentBottomItemTitle-serviceDetail Гибкие методологии
                        p.stack__contentBottomItemText-serviceDetail
                            | Гарантируют Вам полную прозрачность
                            | всего процесса разработки веб сервиса

                    .stack__contentBottomItem-serviceDetail
                        .stack__contentBottomItemIconWrapper-serviceDetail.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").fadeIn
                            img.stack__contentBottomItemIcon(
                                src="assets/images/serviceDetail/toMarket.svg" alt="Декоративная картинка" 
                                width=93 height=60
                            )
                        h3.stack__contentBottomItemTitle-serviceDetail Сокращение time to market-serviceDetail
                        p.stack__contentBottomItemText
                            | Выделение ключевого и побочного функционала помогает нам быстрее
                            | выпустить новый продукт на рынок