section.projects-projects.sectionForProgresCircleColor
    h1.visibleHidden Проекты

    .projects__verticalLines
        .projects__verticalLine
        .projects__verticalLine
        .projects__verticalLine

    img.projects__obliqueLines(
        src="assets/images/utils/obliqueLinesWithSalad.svg" alt="Декоративные линии"
        width=175 height=305
    )

    .container.container--projects
        picture
            source(srcset="assets/images/utils/glowingCircle.webp" type="image/webp")
            source(srcset="assets/images/utils/glowingCircle.png" type="image/png")
            img.glowingCircleTop(
                src="assets/images/utils/glowingCircle.png" alt="Декоративный круг" 
            )
        picture
            source(srcset="assets/images/utils/glowingCircle.webp" type="image/webp")
            source(srcset="assets/images/utils/glowingCircle.png" type="image/png")
            img.glowingCircleBottom(
                src="assets/images/utils/glowingCircle.png" alt="Декоративный круг" 
            )

        .projects__itemsWrapper
            .projects__itemsWrapperLeft
                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/rag.webp" type="image/webp")
                                source(srcset="assets/images/projects/rag.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/rag.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт

                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/logistic.webp" type="image/webp")
                                source(srcset="assets/images/projects/logistic.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/logistic.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт
                    
                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/polygonal.webp" type="image/webp")
                                source(srcset="assets/images/projects/polygonal.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/polygonal.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт

            .projects__itemsWrapperRight
                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/man.webp" type="image/webp")
                                source(srcset="assets/images/projects/man.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/man.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт

                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/macbook.webp" type="image/webp")
                                source(srcset="assets/images/projects/macbook.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/macbook.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт

                article.projects__item.animationItem.animationNoRepeat(data-scroll data-scroll-call="7").rotateDiag
                    a(href="").projects__itemImagesWrapper
                        .projects__itemImageWrapper
                            picture
                                source(srcset="assets/images/projects/relax.webp" type="image/webp")
                                source(srcset="assets/images/projects/relax.jpg" type="image/jpg")
                                img.projects__itemImage(
                                    src="assets/images/projects/relax.jpg" alt="Превью сайта"
                                    width=650 height=520
                                )

                        img.projects__itemImageDecoration(
                            src="assets/images/projects/imagesDecoration.svg" alt="Декоративный элемент"
                            width=310 height=148
                        )
                    .projects__itemTitleWrapper
                        h2.projects__itemTitle Рибера Казань
                        .projects__itemTitleLine
                    p.projects__itemSuptitle Корпоративный сайт

        .projects__slideButtons
            button.projects__slideButton.projects__slideButton--active 1
            button.projects__slideButton 1
            button.projects__slideButton 1
            button.projects__slideButton 1
            button.projects__slideButton 1