.wrapper(data-modal="5")
    .modal
        picture
            source(srcset="assets/images/modals/glowCircle.webp" type="image/webp")
            source(srcset="assets/images/modals/glowCircle.png" type="image/png")
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
        img.modal__contentCircle(
            src="assets/images/modals/circle.svg" alt="круг" 
        )
        img.modal__contentCross(
            src="assets/images/modals/cross.svg" alt="Крестик" 
            width=17 height=17
        )

        .modal__content
            form.modal__contentForm(action="" method="")
                .modal__contentTexts
                    h4.modal__contentTitle Бесплатная консультация
                    p.modal__contentText
                        | Заполните форму, и мы расскажем вам подробнее о том, что вас интересует
                
                .modal__contentInputsBlock
                    .modal__contentInputs
                        input.modal__contentInput(type="text" name="name" placeholder="Имя")
                        input.modal__contentInput(type="tel" name="tel" placeholder="Телефон")
                        textarea.modal__contentInput.modal__contentInput--textarea( name="skills" placeholder="Расскажите о ваших навыках")
                    p.modal__contentInputsText
                        | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                        
                .modal__contentButton
                    button.fillingButton.fillingButton--modal(type="submit")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Отпра
                                | вить
//- index
.wrapper(data-modal="1")
    .modal
        picture
            source(srcset="assets/images/modals/glowCircle.webp" type="image/webp")
            source(srcset="assets/images/modals/glowCircle.png" type="image/png")
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
        img.modal__contentCircle(
            src="assets/images/modals/circle.svg" alt="круг" 
        )
        img.modal__contentCross(
            src="assets/images/modals/cross.svg" alt="Крестик" 
            width=17 height=17
        )

        .modal__content
            form.modal__contentForm(action="" method="")
                .modal__contentTexts
                    h4.modal__contentTitle Расскажем подробнее
                    p.modal__contentText
                        | Заполните форму, и мы расскажем вам подробнее о том, что вас интересует
                
                .modal__contentInputsBlock
                    .modal__contentInputs
                        input.modal__contentInput(type="text" name="name" placeholder="Имя")
                        input.modal__contentInput(type="tel" name="tel" placeholder="Телефон")
                    p.modal__contentInputsText
                        | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                        
                .modal__contentButton
                    button.fillingButton.fillingButton--modal(type="submit")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Отпра
                                | вить

.wrapper(data-modal="2")
    .modal
        picture
            source(srcset="assets/images/modals/glowCircle.webp" type="image/webp")
            source(srcset="assets/images/modals/glowCircle.png" type="image/png")
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
        img.modal__contentCircle(
            src="assets/images/modals/circle.svg" alt="круг" 
        )
        img.modal__contentCross(
            src="assets/images/modals/cross.svg" alt="Крестик" 
            width=17 height=17
        )

        .modal__content
            form.modal__contentForm(action="" method="")
                .modal__contentTexts
                    h4.modal__contentTitle Бесплатная консультация
                    p.modal__contentText
                        | Заполните форму, и мы расскажем вам подробнее о том, что вас интересует
                
                .modal__contentInputsBlock
                    .modal__contentInputs
                        input.modal__contentInput(type="text" name="name" placeholder="Имя")
                        input.modal__contentInput(type="tel" name="tel" placeholder="Телефон")
                    p.modal__contentInputsText
                        | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                        
                .modal__contentButton
                    button.fillingButton.fillingButton--modal(type="submit")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Отпра
                                | вить

.wrapper(data-modal="4")
    .modal.modal--withLine
        picture
            source(srcset="assets/images/modals/glowCircle.webp" type="image/webp")
            source(srcset="assets/images/modals/glowCircle.png" type="image/png")
            img.modal__contentGlowingCircle(
                src="assets/images/modals/glowCircle.png" alt="Подсветка" 
                width=417 height=417
            )
        img.modal__contentLines(
            src="assets/images/modals/lines.svg" alt="Линии" 
        )
        img.modal__contentCross(
            src="assets/images/modals/cross.svg" alt="Крестик" 
            width=17 height=17
        )

        .modal__content
            form.modal__contentForm(action="" method="")
                .modal__contentTexts
                    h4.modal__contentTitle Рассчитать стоимость
                    p.modal__contentText
                        | Заполните форму, и мы расскажем вам подробнее о том, что вас интересует
                
                .modal__contentInputsBlock
                    .modal__contentInputs
                        input.modal__contentInput(type="text" name="name" placeholder="Имя")
                        input.modal__contentInput(type="tel" name="tel" placeholder="Телефон")
                    p.modal__contentInputsText
                        | Нажимая кнопку, вы разрешаете обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                        
                .modal__contentButton
                    button.fillingButton.fillingButton--modal(type="submit")
                        svg.fillingButton__svg.fillingButton__svg--small( viewBox="0 0 116 116" )
                            circle.fillingButton__svg-circle.fillingButton__svg-circle--small.fillingButton__svg-circle--modal( cx="58" cy="58" r="58" fill="transparent" )

                        .fillingButton__circle.fillingButton__circle--small.fillingButton__circle--modal

                        .fillingButton__content
                            p.fillingButton__p
                                span.fillingButton__span--smallMargin-and-partial Отпра
                                | вить

.wrapper(data-modal="3")
    form(name="quiz" action="").quizComponent.quizComponent--modal
        .quizComponentQuestions
            .quizComponentQuestion
                img.quizComponentDecorativeImageLines(
                    src="assets/images/serviceDetailSecond/lines.svg" alt="Декоративные линии" 
                    width=201 height=136
                )

                h3.quizComponentQuestionTitle Укажите сферу деятельности вашей компании:

                .quizComponentQuestionForms
                    .quizComponentQuestionForm
                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="less-than-month-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="less-than-month-1" ) Торговля

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="more-than-month-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="more-than-month-1" ) Промышленность

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="deadline-undefined-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="deadline-undefined-1" ) Юриспруденция

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="need-urgently-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="need-urgently-1" ) Другое

                    .quizComponentQuestionForm
                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="logistic-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="logistic-1" ) Логистика

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="beuty-and-health-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="beuty-and-health-1" ) Красота и здоровье

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="area" id="medicine-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="medicine-1" ) Медицина


            .quizComponentQuestion
                img.quizComponentDecorativeImageLines(
                    src="assets/images/serviceDetailSecond/lines.svg" alt="Декоративные линии" 
                    width=201 height=136
                )

                h3.quizComponentQuestionTitle В каком городе вы работаете? Или планируете вести деятельность

                input.quizComponentQuestionInput(type="text" placeholder="Укажите название города" name="city")
            
            .quizComponentQuestion
                h3.quizComponentQuestionTitle Ваш текущий или планируемый месячный бюджет на рекламу

                .quizComponentQuestionForms
                    .quizComponentQuestionForm
                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="adds" id="30-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="30-1" ) До 30 000 рублей

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="adds" id="30-50-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="30-50-1" ) 30 000 - 50 000 рублей

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="adds" id="50-100-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="50-100-1" ) 50 000 - 100 000 рублей

                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="adds" id="100-250-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="100-250-1" ) 100 000 - 250 000 рублей

                    .quizComponentQuestionForm
                        .forms__block-left-radio-main-block
                            .forms__block-left-radio-block
                                input.input__radio.input__radio--js(
                                    type="radio" name="adds" id="250-1"
                                )
                                .input__radio-custom
                                    .input__radio-custom-checked
                            label.input__radio-label( for="250-1" ) Более 250 000 рублей

            .quizComponentQuestion
                img.quizComponentDecorativeImageCircle.quizComponentDecorativeImageCircle--toLeft(
                    src="assets/images/serviceDetailSecond/circle.svg" alt="Декоративный круг" 
                    width=342 height=342
                )

                h3.quizComponentQuestionTitle Укажите ссылку на ваш текущий сайт, если сайт только планируется разрабатывать, напишите слово “нет”

                input.quizComponentQuestionInput(type="text" placeholder="Укажите название города" name="city")

            .quizComponentQuestion
                h3.quizComponentQuestionTitle Укажите данные для связи с вами

                input.quizComponentQuestionInput(type="text" placeholder="Имя" name="name")
            
                input.quizComponentQuestionInput(type="text" placeholder="Телефон" name="tell")

                p.quizComponentQuestionInputSuptitle 
                    | Завершая опрос, вы соглашаетесь с политикой обработки персональных данных в соответствии с ФЗ «О персональных данных» № 152-ФЗ

        .quizComponentControls
            .quizComponentControlsLeftButton.quizComponentControlsButton
                p.quizComponentControlsLeftButtonText Далее

                svg.quizComponentControlsLeftButtonImage( width="42" height="16" viewBox="0 0 42 16" xmlns="http://www.w3.org/2000/svg")
                    path( d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM41.7071 8.70711C42.0976 8.31659 42.0976 7.68342 41.7071 7.2929L35.3431 0.928935C34.9526 0.538411 34.3195 0.538411 33.9289 0.928935C33.5384 1.31946 33.5384 1.95262 33.9289 2.34315L39.5858 8L33.9289 13.6569C33.5384 14.0474 33.5384 14.6805 33.9289 15.0711C34.3195 15.4616 34.9526 15.4616 35.3431 15.0711L41.7071 8.70711ZM1 9L41 9L41 7L1 7L1 9Z" )

            .quizComponentControlsStages
                p.quizComponentControlsStagesCurrentStage 1
                p.quizComponentControlsStagesFrom из
                p.quizComponentControlsStagesAtAll 5

            .quizComponentControlsRightButton.quizComponentControlsRightButton--notActive
                | Далее

            button(type="submit" disabled).quizComponentControlsRightButtonSubmit Завершить
